[2017-09-30 20:57] rt-2 commented on #399
Also the API must be loaded in HTTPS.

[2017-09-30 20:57] #399 closed

[2017-09-30 22:00] abardik commented on #399
Not for localhost, http is ok for development (localhost only).

[2017-10-01 14:16] rt-2 commented on #399
Not even, You would have to start Chrome with `chrome --allow-file-access-from-files` if you wanted to try localhost.

[2017-10-03 19:24] viktorstrate commented on #97
SSL for peerjs.com, would really solve alot of issues.

If you have not heard of [Let's Encrypt](https://letsencrypt.org/), it is really great. It lets you encrypt websites extremly easy, using automated tools, besides that it is completely free. I have used it multiple times, and it just works!

[2017-10-05 21:23] devrandomguy commented on #401
Confirmed, in Firefox 55.0. The console shows a bunch of deprecation warnings:

[code]

Looks like this repo hasn't been updated since 2015. Has this library been made obsolete by something else? It's hard to imagine that something like this would be abandoned.

[2017-10-06 18:21] rahilka commented on #224
Any updates on this issue? peer.destroy() is not helping...

[2017-10-07 07:00] madawadkar commented on #401
Test

On Fri, Oct 6, 2017 at 2:53 AM, devrandomguy <notifications@github.com>
wrote:

[2017-10-20 04:51] Sreekanthp74 opened #403 "How can I add a third peer to an ongoing audio call?"
On my current code one to one call is working fine but when i try to add a new peer the communication only happen between the first and last peer, not happening the bradcasting of audio. Anyone please give me a solution.

[2017-10-20 07:57] luongnv89 commented on #403
Let's say you have 3 peers: A, B, C.
How did you set up the connection between them?
In my case, I set up a mesh network:

[code]

[2017-10-21 07:08] Sreekanthp74 commented on #403
Currently I am adding the clients dynamically i.e.
When 'A' is starting a session and when the client 'B' try to join, 'A'  gets the ID of client 'B' and 'A' calls the client 'B' and 'B' will join in the session. When a new client 'C' is trying to join in that call, the clients 'A' and 'B' gets notified and gets the ID of  client 'C', now now both 'A' and 'B' calls the 'C'.

This is the way that a

[2017-10-21 07:08] Sreekanthp74 commented on #403
Currently I am adding the clients dynamically i.e.
When 'A' is starting a session and when the client 'B' try to join, 'A' gets the ID of client 'B' and 'A' calls the client 'B' and 'B' will join in the session. When a new client 'C' is trying to join in that call, the clients 'A' and 'B' gets notified and gets the ID of client 'C', now now both 'A' and 'B' calls the 'C'.

This is the way that am

[2017-10-29 12:34] sideroad commented on #394
I've tried to use the script but I got error.
( Chrome on Mac is working well. )

Sender ( From iOS 11 )
[code]

But Receiver got error when received message.
https://github.com/Simplici/pearjs/blob/master/dist/peer.js#L2218
[code]

[2017-11-01 19:29] jarretttaylor opened #404 "Peer constructor option for iceServers ignored"
I tried to pass in a custom ice server to the Peer constructor, but it is not being used for some reason. I followed the calls and this is what I found.

defaultConfig is created and ice servers configured:
https://github.com/peers/peerjs/blob/master/lib/util.js#L1

defaultConfig assigned to util.defaultConfig:
https://github.com/peers/peerjs/blob/master/lib/util.js#L68

util.defaultConfig assigne

[2017-11-04 05:13] SivaShhankar commented on #96
Hello, can u please help me to integrate screen sharing on PeerJS.

[2017-11-07 14:00] mesutyigit commented on #398
@stoneWeb  Did you solve this issue

[2017-11-07 22:54] sideroad commented on #394
After I specified serialization option explicitly, it works well.

[2017-11-09 19:00] soulpcbr commented on #398
I have the same problem. Anybody know how solve this?

[2017-11-20 08:28] vptagupa commented on #398
Does anyone solved this problem?

[2017-11-24 06:04] hardikifuturz opened #405 "Peerjs not working with cordova-plugin-iosrtc for iOS 10"
Peerjs browser to browser works, then integrate in Meteorjs for ios app and install iosrtc (https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc) and in ios camera started but when i call to second peer and script stopped :(

Console Error : TypeError: undefined is not a constructor (evaluating 'new RTCPeerConnection(connection.provider.options.config, optional)')

Peerjs Version : 0.3.14
IOS

[2017-11-27 00:40] FelipeMiranda commented on #380
Really??? that's not possible?

[2017-11-27 14:53] FelipeMiranda opened #407 "Is this project under development?"
I did check and it hasn't been a commit since 2015

[2017-11-28 16:20] novakgio opened #408 "decline call"
I am not much experienced in peer js and this is the first time i am working on it.
when I call from one peer to another, Let's say the receiver instantly wants to hang up. what should I do? in documentation there's not much said . docs say use disconnect event ,and as soon as it happens,the caller gets the notification,but this way it destroys peer and i will need to generate new peer_id which se

[2017-12-05 05:05] hardikifuturz commented on #405
Still waiting for reply

[2017-12-06 05:17] hardikifuturz opened #409 "Codec Issue"
Peer connect is established between 2 any native or browser but when 1 Android device sent streaming to 2 android device then getting "Unable to create an H.264 decoder fallback. Decoding of this stream will be broken." error. and 1 android device to browser is working perfectly.

As per my knowledge i think there is something codec issue with android device.

Peerjs Version : 0.3.14 & 0.3.15

[2017-12-14 13:17] ali-hassan commented on #377
hahahhaha bc yh issue mgy b agyaaa ha

[2017-12-21 02:43] w-biggs commented on #407
Looks like it's not. :/

[2017-12-26 18:40] mdnight opened #412 "can't get call event"
I've tried call examples, presented in peerjs website, but it was unsuccessfull. When i do peer.call on one side, i don't receive call event on another side. Did anyone have the same problem?
P.S. I tested it in Firefox 57

[2018-01-05 18:46] JGames101 opened #413 "Being served over HTTP causes issues on HTTPS sites"
When attempting to use PeerJS from a site that is served over HTTP, this error appears in the console:
`Blocked loading mixed active content “http://0.peerjs.com:9000/lwjd5qra8257b9/id?ts=15151778159410.6040248252280473”`

Because the site for peerJS is served over HTTP, it is considered dangerous for the script to be loaded from there.

[2018-01-09 10:35] sandros87 commented on #346
It just solves the "message". Firefox just won't work with peerjs and I don't understand what we have to do to fix it. The doc says 27+ is supported but that is not true.

[2018-01-15 01:52] 2n2n commented on #413
use a custom peerjs-server for this and host it to your vps

[2018-01-19 18:04] mayoljonathan commented on #375
I got it working.
Check out my fork.
https://github.com/mayoljonathan/peerjs/blob/master/examples/chat.html#L65

[2018-01-19 21:46] web-mech commented on #103
I'm just gonna leave this here https://www.npmjs.com/package/peerjs-nodejs

[2018-01-19 22:45] web-mech commented on #103
Also, the connection serialization doesn't have to be set to `none`. You can use any other option besides `binary`, you just need to set it since binary is the default. I set it to `json` which works just fine.

[2018-01-20 08:08] snissn opened #414 "Hello World Broken in Chrome Windows"
On Chrome 63 on windows the hello world ( and other examples) are not working, but working fine in firefox. There should be text in the blue box but there is none.

http://cdn.peerjs.com/demo/helloworld.html

![image](https://user-images.githubusercontent.com/1981537/35181424-3bf18964-fd8f-11e7-89d5-8d7d88048c32.png)

[2018-01-20 08:15] 2n2n commented on #322
Same problem here. Not working on chrome, havent tried Fireforx tho.. I used the peerjs-server over https.

[2018-01-21 11:19] WiseNN commented on #378
+1 for this question

[2018-01-22 14:57] kushalcodes opened #415 "What is wrong in this code? (Video Chat)"
**When i call, the receiver gets my stream and i don't get receiver's stream and the local stream for receiver also doesn't show up.**

`peer.on('call',answerACall);

//recieve call
function answerACall(call){

	clearCall();

	window.currentCallObj = call;

	if ( confirm("Someone is calling you! Answer it?")) {
		getMediaStream(
			function(mediaStream){
				window.localStreamFroAnswer = mediaStre

[2018-01-23 21:26] luispimenta commented on #405
Did you solve it?

[2018-01-26 02:04] skyne98 commented on #329
Any solutions?

[2018-01-26 03:36] ndac-todoroki commented on #329
maybe using nttcom's fork(https://github.com/skyway/skyway-js-sdk), or doing some patch may be a solution: This repo seems not maintained.

[2018-01-27 05:55] geraldsamosir opened #416 "peer js and peer-server cannot run in vps"
i try to use peer js in my vps  i run it in here
https://159.65.15.56:9000/ and the source is
here https://gitlab.com/geraldsamosir/my_webrtc
and thats work if in same hotspot but if access from deference hotspot
cannot use video chat , can you tell me how to solve it because there are an err when i try to video call from difrent hotspot with my friends

[2018-01-27 07:02] #416 closed

[2018-01-29 17:05] krazyjakee commented on #362
I would also like to know this.

[2018-01-29 22:34] MakersHeaven commented on #362
have a look at this documentation:
https://webrtc.github.io/samples/
https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API#WebRTC_concepts_and_usage

This is something i'm trying to achieve as well. Basically you have to combine these two. WebRTC creates the stream, peerjs transports it.

[2018-01-30 16:25] brianushman opened #417 "Stream Non-webcam Video?"
I have video I'm generating that I'm currently sending over a data channel to my peer and then rendering on the other end which works. However, I would like to stream this as video and take advantage of all of the WebRTC video encoding/optimizations that happen.  From what I can see, it's only possible to stream data that comes from the webcam (getUserMedia).  Is it possible to do this?

[2018-01-30 16:50] #417 closed

[2018-01-31 04:20] geraldsamosir opened #418 "client for react native"
can peer js connect with react native  ?
there are any client ?

[2018-02-06 01:13] Kitanga commented on #378
@WiseNN sadly this repo is abandoned. Try out these other options though:

- [Simple Peer](https://github.com/feross/simple-peer)
- [Simple WebRTC](https://github.com/andyet/SimpleWebRTC)

[2018-02-07 12:25] AsheTM commented on #412
Hi,
I have the same problems !
I can't receive the call from the other side !
I'min Google Chrome

[2018-02-09 16:12] NickolasBoyer commented on #355
Met to @ 58

[2018-02-12 03:41] kushalcodes commented on #415
This code works but i had this problem because i was on same computer calling and receiving. It was due to webcam and microphone already used.
When i hosed it online with SSL ('https'), it worked.

[2018-02-12 03:41] #415 closed

[2018-02-16 19:15] brooksnaylor commented on #278
This worked for me! Thanks so much!

[2018-03-03 16:25] bolahanna44 commented on #375
it is not a good option wot work with this library since it is not maintained i used webrtc with firebase as a signaling server and i think this is the best option

[2018-03-04 19:01] danielpox commented on #339
Safari 11 in iOS 11 sure does support WebRTC, so PeerJS needs to update accordingly

[2018-03-06 15:11] SkacDias opened #420 "Error"
I am writing an app using https, node and peerjs ssl, below I have mentioned the code script.js

$(function(){

  var messages = [];
  var peer_id, name, conn;
  var messages_template = Handlebars.compile($('#messages-template').html());

  var peer = new Peer({
	host: '187.84.228.139',
	port: 9000,
	path: '/peerjs',
	debug: 3,
	config: {'iceServers': [
	{ url: 'stun:stun1.l.google.com:19302' },

[2018-03-15 02:00] #407 closed

[2018-03-21 01:29] Bohmaster commented on #413
@2n2n Can u please give a example or documentation how to do that? I have the exact same problem.

I'm using this: [](https://github.com/nwah/peerjs-audio-chat)

[2018-03-23 01:38] SpyrosKoustas opened #422 "Peerjs in Electron - Connection issues"
Hello, I am trying to create a peer to peer app using electron. I am able to send messages to a website that uses peerjs (locally) , but I cannot get to receive data to the electron app. Neither from the website, nor from another electron application. Please help!

Code in electron app:

_var peer = new Peer('peer-1', {key: '##########'});

peer.on('connection', function(conn) {
  conn.on('data',

[2018-03-28 05:37] bradisbell commented on #407
No, this project is long dead.  Worse yet, the folks that created it don't respond to e-mail, haven't commented on any issues, and are sitting on a good NPM package name.  I think we should pick one of the better forks, contact NPM, and reclaim it for the community.

[2018-03-31 06:00] kas2000 commented on #422
Something happened to their server. peerjs.com doesn't work

[2018-04-01 06:09] shivamgupta-gupta commented on #422
Do you have any idea when will it be live again @kas2000 ?

[2018-04-01 06:12] shivamgupta-gupta opened #423 "Peerjs does not work"
Neither the website nor the services work in peerjs. What are the possible issues. And when will it be live again?

[2018-04-01 07:25] kas2000 commented on #422
@shivamgupta-gupta No idea. I've started to rebuild my video chat using simple-peer:
https://github.com/feross/simple-peer

[2018-04-02 16:46] isaacaddis commented on #423
same here

[2018-04-03 06:44] SitePointEditors commented on #423
Hey folks, would it be possible to get some kind of idea of if/when the PeerJS website will be live again? We're about to publish an article on PeerJS over on SitePoint, and it'd be great to know if this is just a blip on the radar, or if the site is gone for good.

[2018-04-03 14:30] shivamgupta-gupta commented on #422
@kas2000 but it seems that simple-peer does not work on the client side. Its CDN does not work.

[2018-04-04 08:02] ZhuYuJin commented on #423
I am working on two projects based on peerjs. Would the website be open again later? = =

[2018-04-04 22:26] mtrabelsi commented on #423
Its SO obvious that the project is dead, no commit no activity website down.
Look for other alternative.

[2018-04-08 11:55] Leetcore commented on #423
Any good alternative?

[2018-04-08 17:34] mtrabelsi commented on #423
https://github.com/feross/simple-peer

[2018-04-09 15:52] entozoon commented on #423
^ But that doesn't offer a signalling server

[2018-04-09 16:17] ZhuYuJin commented on #423
I find out that peerjs works more easily than simplepeer. So I establish my own server based on its server code https://github.com/peers/peerjs-server.

[2018-04-09 18:05] mtrabelsi commented on #423
signaling server it is NOT a part of Webrtc foundation. Meaning you are free to make your own.
  you can test by hand copy paste the JSON object from one peer to the remote one, make it work, then you can make this work with signaling server using Socket.io..

[2018-04-15 13:08] mices opened #424 "Site down, need docs"
I need the docs but the site is down Anyone know how to get the full api documentation?

[2018-04-16 01:34] mices commented on #423
I'm with ZhuYuJin on this, I did the same thing, my nginx/passenger config needs some fine tuning but it works in development Seems I'm gonna need the docs or have to read the script itself Since it works I don't know what's the significance of the project being dead aside from not being able to get the docs now I've already got it working Should I scrap it because the project's dead?

[2018-04-16 01:44] ZhuYuJin commented on #423
I'm working on a temporary project. It seems peerjs shows the best match with my demands. If you need a long-term and maintainable NAT traversal tool, I think simplepeer or electron-webrtc is a better choice.

[2018-04-16 02:00] mices commented on #423
It's a working implementation of webrtc I should be able to figure out what I'm trying to do I still don't understand what's the significance of the project being dead Separately, is the turn
 server request mechanism built in to peerjs?

[2018-04-27 19:49] #355 closed

[2018-05-01 05:13] ChrisWalshGitHub commented on #394
hi, "After I specified serialization option explicitly, it works well."
^^ specified it to what? binary, binary-utf8, json or none?

[2018-05-01 05:36] ChrisWalshGitHub commented on #394
set it to "json".. when doing peer.connect, pass in "serialization" as "json"

[2018-05-03 16:34] zkryakgul commented on #286
**## Failed to set local offer sdp: Called in wrong state: kHaveRemoteOffer**

in android native WebChromeClient.  Any solition?

[2018-05-04 10:03] ishanyang opened #425 "http://peerjs.com"
url: http://peerjs.com
response
dial tcp4 192.241.237.234:80: getsockopt: connection refused
I just want to get a free API key

[2018-05-04 15:08] #425 closed

[2018-05-17 22:37] boomanaiden154 commented on #424
You can find the documentation on the way back machine:
https://web.archive.org/web/20171111163427/peerjs.com/docs

[2018-05-28 18:30] AntonLebiodkin commented on #286
+1, have `kHaveRemoteOffer`  error, any solutions?

[2018-06-04 11:56] kidandcat opened #427 "how a 5k stars library goes deprecated without notice?"
I'm sorry, but @michelle @ericz , how a 5k stars library goes deprecated without notice?

[2018-06-04 13:26] bradisbell commented on #427
Attempts to contact those folks have always failed for me.  It's really sad when folks completely abandon their project even when it's in heavy use, without allowing someone else to take it over.

If we can all agree on a fork, we can easily contest this with NPM, to at least recover the package name for the community.

[2018-06-04 14:36] kidandcat commented on #427
I wrote them an email, I want to wait few days, but after that, I can support you recovering the package.

[2018-06-04 16:11] michelle commented on #427
Hi there,

I apologize for the radio silence here -- there's no excuse for it.

If someone would like to take over this project, I'm more than happy to give them full access.

[2018-06-04 16:11] michelle commented on #423
Hi there,

I apologize for the radio silence here -- there's no excuse for it.

If someone would like to take over this project, I'm more than happy to give them full access.

[2018-06-04 16:14] kidandcat commented on #427
Thanks @michelle , if you could give @bradisbell or me access, we will try to recover it.

[2018-06-04 16:27] michelle commented on #427
I've gone ahead and invited you to a team with admin access.

[2018-06-04 16:29] kidandcat commented on #427
Thanks @michelle I will start reviewing PRs in a few days, may you have the original website with the documentation?

[2018-06-04 16:46] michelle commented on #427
@kidandcat it's a private repo, so I've invited you separately :).

[2018-06-04 17:13] kidandcat commented on #427
I can't accept the invitation without the repo's URL :(

[2018-06-04 18:42] kidandcat commented on #341
Fixed with #419

[2018-06-04 18:42] #341 closed

[2018-06-04 18:43] kidandcat commented on #336
Fixed with #419

[2018-06-04 18:43] #336 closed

[2018-06-04 18:43] kidandcat commented on #319
Fixed with #419

[2018-06-04 18:43] #319 closed

[2018-06-05 07:35] #427 closed

[2018-06-05 07:35] kidandcat commented on #424
Site is online again

[2018-06-05 07:35] #424 closed

[2018-06-05 07:36] kidandcat commented on #423
Site is online again, PRs are being reviewed and merged, and services will be online soon this week

[2018-06-05 07:52] kidandcat commented on #422
I'm working on restoring this library back, you could use host: 'peerjs.com' while I setup the original domain

[2018-06-05 07:55] kidandcat commented on #420
Have you setup your Peer-server to use the path /peerjs? if not, just change in your client path: "/peerjs" to path: "/"

[2018-06-05 07:55] kidandcat commented on #413
I will be adding SSL to the open server this week

[2018-06-05 07:56] kidandcat commented on #412
The public server was down, I'm restoring the website and the public server, it will be working by the end of the week

[2018-06-05 08:48] kidandcat commented on #408
I would implement this by:
1- Setting another communication channel, e.g. using websockets with your server or
2- Opening first a DataChannel, and then sending the signals over there (deciding if you want to answer the call or not) and then opening or not the video channel

[2018-06-05 08:48] #408 closed

[2018-06-05 08:50] kidandcat commented on #414
Some PRs have been merged, could you try again? feel free to reopen if the issue persists

[2018-06-05 08:50] #414 closed

[2018-06-05 08:52] kidandcat commented on #418
No native clients exist. but some people suggest to host a webview:
https://stackoverflow.com/a/28370368

[2018-06-05 08:52] #418 closed

[2018-06-05 08:59] SpyrosKoustas commented on #422
So does this mean that peerjs is going to get live again and work with electron ?

[2018-06-05 09:52] kidandcat commented on #422
That's our goal, yes

[2018-06-05 09:54] SpyrosKoustas commented on #422
Can you estimate the date of the release ?

[2018-06-05 10:00] kidandcat commented on #422
I will be releasing a new working version this weekend, and if everything goes well and quickly, I expect to have the peerjs server online for next weekend.

If problems appear, it may be delayed to the end of this month.

[2018-06-05 10:02] SpyrosKoustas commented on #422
Thank you in advance, this is awesome! Will publish the release when it is happening ?

[2018-06-05 10:09] kidandcat commented on #422
yes, I will publish something on the Readme, and also I will answer all these issues related to it not working, so you will be noticed.

[2018-06-13 09:28] iakashpaul opened #428 "(OperationError) Failed to set local offer sdp: Called in wrong state: kHaveRemoteOffer"
(OperationError) Failed to set local offer sdp: Called in wrong state: kHaveRemoteOffer

0.3.14v of PeerJS

Above error occurs with video calls going from,
* Chrome 65 Mac Desktop to Chrome 65 Mac Desktop
* Chrome 65 Android to Chrome 65 Mac Desktop

This was working fine until Chrome 65 IIRC. The callee is able to get the other party's video stream but the called party gets the above error & a bl

[2018-06-13 09:34] kidandcat commented on #428
Could you clone the repository, execute grunt, and use the build peer.min.js? Use master branch.

Or if you prefer, I'm attaching the already built lib:

[peer.min.js.zip](https://github.com/peers/peerjs/files/2097538/peer.min.js.zip)

Tell me if it works or not please.

[2018-06-13 09:39] kidandcat commented on #428
Also you can use

[code]

to see logs.

[2018-06-13 09:45] iakashpaul commented on #428
Ok I'm checking it out now, thanks.

[2018-06-14 07:45] iakashpaul commented on #428
This is the log,
---
## Callee log [remote video loads]
PeerJS:  Socket open
peer.min.js:1 PeerJS:  Creating RTCPeerConnection.
peer.min.js:1 PeerJS:  Listening for ICE candidates.
peer.min.js:1 PeerJS:  Listening for `negotiationneeded`
peer.min.js:1 PeerJS:  Listening for data channel
peer.min.js:1 PeerJS:  Listening for remote stream
2peer.min.js:1 PeerJS:  `negotiationneeded` triggered
2peer.m

[2018-06-14 07:50] kidandcat commented on #428
Could you post your code?

[2018-06-14 07:52] iakashpaul commented on #428
https://github.com/iakashpaul/peerjsipx
It's running on heroku at https://peerjsipx.herokuapp.com/

[2018-06-14 09:48] kidandcat commented on #428
Use peer.min.js from dist folder from master branch.
https://raw.githubusercontent.com/peers/peerjs/master/dist/peer.min.js

When I publish the new version, you can install it like always from NPM. It will be at the end of the month.

[2018-06-14 09:48] #428 closed

[2018-06-22 14:23] marcusreese commented on #290
Thanks @kidandcat for starting to revive this! (And thanks to previous maintainers for their work, too.)
https://github.com/peers/peerjs/issues/427https://github.com/peers/peerjs/issues/427
https://github.com/peers/peerjs/commits?author=kidandcat

[2018-06-22 14:41] kidandcat commented on #290
Thank you too! I'm doing it because I saw this amazing community hasn't surrender even after 2 years aimlessly. Also I couldn't do it without all your support.

I'm gathering few people to help with website, twitter, etc. And I want to do a re-launch with a fresh website and start moving everything again. Meanwhile I'm preparing everything (merging PRs, fixing bugs and so on).

[2018-06-22 14:52] kidandcat commented on #420
Reopen if error continues

[2018-06-22 14:52] #420 closed

[2018-06-27 07:41] doozookn opened #429 "Failed to set remote answer sdp"
hi. i was bumped with "Failed to set remote answer sdp: Called in wrong state: kStable" when i try to connect peers from differents networks. i use ice servers (stun & turn), also i use latest version from master branch.

[2018-06-27 07:58] kidandcat commented on #429
Could you post your browser version?

[2018-06-27 14:17] vasserr commented on #429
I use latest chrome browsers both cases

[2018-06-27 14:35] kidandcat commented on #429
@vasserr Did you also use version from Master branch instead of installing it from NPM?

[2018-06-28 08:44] vasserr commented on #429
@kidandcat Yes i did. version from master

[2018-06-28 09:43] kidandcat commented on #429
Tests are working for me on Chrome 68.0.3440.33 (Build oficial) beta (64 bits) Linux.

Could you post the code that's failing?

[2018-07-02 07:48] kidandcat commented on #429
@doozookn @vasserr Could you test again with the latest changes? dist/ files have been rebuild so you can use them.

[2018-07-12 18:56] BuffMcBigHuge commented on #428
I am also experiencing this problem.

[2018-07-15 09:04] #290 closed

[2018-07-15 09:05] kidandcat commented on #429
@doozookn @vasserr I'm closing this issue, please if the error persists with the latest changes, write here and I'll reopen it.

[2018-07-15 09:05] #429 closed

[2018-07-15 22:52] hevyhomie commented on #413
Any updates on this?

[2018-07-16 06:49] Sreekanthp74 commented on #286
Am also getting the same error

peer.min.js:1 PeerJS:  ERROR Error: (OperationError) Failed to set local offer sdp: Called in wrong state: kHaveRemoteOffer
peer.min.js:1 PeerJS:  Failed to setLocalDescription,  (OperationError) Failed to set local offer sdp: Called in wrong state: kHaveRemoteOffer

Any solution for this?

[2018-07-16 07:04] zkryakgul commented on #286
https://gitlab.com/zkry.akgul/peerjs

Use this instead of orginal lib. I made little touchs to lib files and
seems like problem solved.
------------------------
Zekeriya AKGÜL

Sreekanthp74 <notifications@github.com>, 16 Tem 2018 Pzt, 09:49 tarihinde
şunu yazdı:

[2018-07-16 07:49] kidandcat commented on #286
Could you test with the latest build from master branch? in "dist" folder

[2018-07-16 09:01] zkryakgul commented on #286
Nope i couldn't. I work on it couple months ago and use it my small range
project. It was worked for me.

16 Tem 2018 Pzt 10:49 tarihinde Jairo Caro-Accino Viciana <
notifications@github.com> şunu yazdı:

[2018-07-17 08:19] kidandcat commented on #422
Update your peerjs version and it will work

[2018-07-17 08:19] #422 closed

[2018-07-17 08:19] kidandcat commented on #413
Update your peerjs version and it will work. (Even with key option, although it's useless)

[2018-07-17 08:19] #413 closed

[2018-07-17 08:20] kidandcat commented on #412
Update your peerjs version and it will work

[2018-07-17 08:20] #412 closed

[2018-07-17 08:22] kidandcat commented on #405
It looks like the RTCPeerConnection is not available, that means WebRTC is not supported. Please answer if you find a solution, thanks!

[2018-07-17 08:22] #405 closed

[2018-07-17 08:22] kidandcat commented on #409
Could you test with 0.3.15?

[2018-07-17 08:29] kidandcat commented on #403
You may be overriding your connection or something, could you post your code @Sreekanthp74 ?

[2018-07-17 08:30] kidandcat commented on #398
If you still have this problem, could you post your browser versions?

[2018-07-19 11:03] Sreekanthp74 commented on #286
Thanks @zkryakgul , @kidandcat
I checkout the latest peer.mim.js file and its working fine now.

[2018-07-19 11:45] kidandcat commented on #286
Mmm, it should be the same file, maybe your browser is catching it with an older version.

Anyway, feel free to reopen if you get the error again. Also I published the changes to NPM so you can use latest version from NPM now.

[2018-07-19 11:45] #286 closed

[2018-07-23 14:59] #403 closed

[2018-07-23 14:59] kidandcat commented on #401
Could you check again with latest version?

[2018-07-23 14:59] #401 closed

[2018-07-23 15:00] kidandcat commented on #397
Not possible at the moment without extesions as mentioned before.

[2018-07-23 15:00] #397 closed

[2018-07-24 10:53] antoniofaienza93 opened #431 "'RTCPeerConnection': Cannot create so many PeerConnections"
Hello everyone
I'm trying to create a multiplayer game in phaser. Once the game has been created i have two player. When i move my player (green) I can see the movement in a new page of my browser (not green).
![schermata del 2018-07-24 12-44-53](https://user-images.githubusercontent.com/16166749/43133904-7c85666a-8f40-11e8-8fdc-14676359025d.png)
Everything works for the best. But considering that

[2018-07-24 11:04] kidandcat commented on #431
It seems like you are creating a lot of new connections. Could you show your code?
Also it would be helpful if you use the unminified version of the library, you have it on dist/peer.js

[2018-07-24 11:40] antoniofaienza93 commented on #431
Of course. My code is this:
`var P2PMaze = P2PMaze || {};

// global variable
var map;
var backgroudLayer;
var blockedLayer;
var player;
var toOpponentPlayer = [];
var cursor;
var items;

var logicalOrder = {};
var playerOrder = 1; // the player starts to 1 for compare the item to take

var createdOpponentPlayer = false;

var opponentPlayer;

var jump = false;
var hitPlatformO;

P2PMaze.send = fun

[2018-07-24 13:05] kidandcat commented on #431
If I'm not wrong, here:
[code]

You are opening a new connection every time you want to senda  message. You should save your created connection somewhere, and use it for all messages, for example, something like this:

[code]

Use the `send` method from the connection object:
https://peerjs.com/docs/#dataconnection-send

And listen for the `data` event on the connection:
https://peerjs.com/docs/#d

[2018-07-24 14:16] kidandcat commented on #431
[code]

Here you are creating a new listener, and when the event 'open' come, you send the data. You should just send the data:

[code]

The Open event is to check if the connection has been established. You can check for it, or you can just send the data and let it fail if the connection is not still open.

[2018-07-24 14:35] antoniofaienza93 commented on #431
ooooh very good. Thanks. I did not understand. When i try my code i post the result. thanks thanks thans

[2018-07-24 14:57] antoniofaienza93 commented on #431
Ok it works, but now i don't receive the data:
`/**
     * This method is used for receive data.
     * @param {method} callback return the data that arrived from sender
     */
    enableReceptionData(callback) {
        this._peer.on('connection', function(conn) {
            conn.on('data', function(data){
                console.log("--------------------------------");
                console.

[2018-07-24 15:43] antoniofaienza93 commented on #431
If I undestrand the `conn.on('open', function(){ .. }` can be omitted. But if i print in the console:
`

        enableReceptionData(callback) {

        console.log(conn); // IMPORTANT

        this._peer.on('connection', function(conn) {

        conn.on('data', function(data){

            console.log("--------------------------------");
            console.log("message received : \n");

[2018-07-24 15:59] kidandcat commented on #431
When you open the connection in:
[code]

You should inmediatly start listening the events, so:

[code]

[2018-07-24 16:10] antoniofaienza93 commented on #431
ok thanks for the patience, as soon as I implement the code I will post the result :+1:

[2018-07-24 16:22] antoniofaienza93 commented on #431
No this continues to not work.

[2018-07-24 17:06] antoniofaienza93 commented on #431
thank you so much for the opportunity. At the moment my code is an open construction site. As soon as I have arranged it I will make it available. In the meantime, when you have time, could you tell me if the last solution I indicated could be a good approach to the problem?
Thanks again and see you soon :)

[2018-07-25 07:35] kidandcat commented on #431
The second solution would be much recommended. The first one will give you a lot of troubles because you are creating a lot of connections, one per message, and that will not only lead you to the first error you got from PeerJS, but it will also beat your resources (cpu, ram, network)

[2018-07-25 16:05] daton89 opened #432 "all the demos doesn't work on https://peerjs.com/examples"
title

[2018-07-25 16:13] kidandcat commented on #432
Thanks, I'm aware of it, but I don't have access to the source code of the demos. I'm in the process of writing some new demos.

[2018-07-25 19:38] hevyhomie commented on #339
Any updates on this?

[2018-07-26 19:17] antoniofaienza93 commented on #431
I confirm that with the second solution I avoid the error. For this, now I have only two connection:
- the first: from A to B
- the second: from B to A
The other exchange of data is execute with the same connection. Thank @kidandcat for your support. :+1:

[2018-07-26 19:17] #431 closed

[2018-08-02 05:39] capripio commented on #391
@Mrsevic found any solution for that yet?

[2018-08-02 07:42] kidandcat commented on #391
Let me have a look

[2018-08-02 07:43] kidandcat commented on #409
No feedback

[2018-08-02 07:43] #409 closed

[2018-08-02 07:43] kidandcat commented on #398
Test with latest version, comment if it still happens.

[2018-08-02 07:43] #398 closed

[2018-08-02 12:03] capripio commented on #391
@kidandcat  so?

[2018-08-02 12:49] kidandcat commented on #391
Did you tried destroying the peer?

[2018-08-02 12:54] LucaColombi commented on #374
Hello @essteffan , I discovered from sources that you must use alphanumeric, for instance an id containing '_' is not accepted

PeerJS team, please document this ;)

[2018-08-02 13:09] capripio commented on #391
@kidandcat I am using single peer on whole application. so I can't destroy it

[2018-08-02 13:24] kidandcat commented on #391
Then you will need to relie on your own signaling, right now there is no way for a call initiator to reject the answer of the callee.

You could signal using a dataChannel and, when you be sure, you can execute the call.

[2018-08-03 14:14] SpyrosKoustas opened #433 "PeerJS Create Account"
Hi,
I had a peerJS account before the site got shut down. No my account doesn't work anymore and I could find a way of creating an account for free. Is there a link maybe ?

[2018-08-10 13:28] #391 closed

[2018-08-11 08:01] capripio commented on #328
@akilah007 @dlinx @BernardoMG @andreassh
Anyone of you guys found any work around here?

[2018-08-12 17:27] jmcker commented on #432
Hi @kidandcat,
Glad to see you've picked this up as a maintainer. 👍

I wrote [this](https://github.com/jmcker/Peer-to-Peer-Cue-System) relatively simple project about two years ago. If you want to use it as an example or the basis to something you write, you're welcome too.

Best of luck maintaining this bad boy. Looking forward to seeing some development!

[2018-08-13 08:25] kidandcat commented on #394
@Simplici would you like to propose a pull request?

[2018-08-14 10:13] LucaColombi commented on #224
Same problem after 4 years, I suppose there is a maintainance problem :|

Is there a id timeout or a way to stimulate the real taken status of an ID?

[2018-08-14 10:14] LucaColombi commented on #294
Same problem after 4 years, I suppose there is a maintainance problem :|

Is there a id timeout or a way to stimulate the real taken status of an ID?

[2018-08-14 10:41] kidandcat commented on #224
Hi, we are maintaining it again, but I cannot go through all old issues checking if they have been fixed or not, browsers have changed a lot.

Let me give it a look to see if I can find a solution. Of course any contribution is welcome.

[2018-08-14 10:42] kidandcat commented on #294
duplicate of #224

[2018-08-14 10:42] #294 closed

[2018-08-14 10:44] kidandcat commented on #224
As mentioned before, the close event don't work for lost connections very well. My idea is to give a unique token (password) when you connect using an ID, and if another peer connects using that ID and that token, then I will suppose it is you, and will accept your connection.

What do you think about this approach?

[2018-08-14 11:25] LucaColombi commented on #224
Hello,

technically, it would work, but I am concerned about security vulnerabilities, in this way, I can in any moment impersonate another ID and get messages that were directed to him.

If there are no other ways, your solution is better than nothing, so static token ids can works with peerJS (otherwise we would need to excange dinamic ids.. almost like another signaling server)

I would have so

[2018-08-14 11:26] kidandcat commented on #224
Well, you will not be able to impersonate because you need the initial Token (password) PeerServer sent to you the first time you connected.

[2018-08-14 12:43] LucaColombi commented on #224
o ok, I didnt know the protocol, so seem perfect

[2018-08-15 05:27] pooljpv84 commented on #428
Gracias...!! 👍
@kidandcat
tenia el mismo problema y lo resolví utilizando el archivo:

https://raw.githubusercontent.com/peers/peerjs/master/dist/peer.min.js

[2018-08-15 09:11] kidandcat commented on #428
I updated the NPM version, so you can just update it on your package.json

[2018-08-15 09:33] norahabsentia commented on #428
Cool, I'll check it out. Thanks!

[2018-08-15 09:38] iakashpaul commented on #428
Thanks a lot, I'll check it out!

[2018-08-16 18:02] LucaColombi opened #435 "Receiving audio but not video"
I am correctly receiving audio stream but video is stripped off:

outgoing audio: [MediaStreamTrack]0: MediaStreamTrack {kind: "audio", id: "7ba82f29-61c6-4e90-a30e-d4560459b641", label: "", enabled: true, muted: false, …}
outgoing video: [MediaStreamTrack]0:
[code]

incoming audio:[MediaStreamTrack]0: MediaStreamTrack {kind: "audio", id: "7ba82f29-61c6-4e90-a30e-d4560459b641", ...
incoming video:

[2018-08-16 18:18] LucaColombi commented on #435
Hello, this is not a bug I confirm that if not video is sent, no video can be received, I solved with a fake video sent:

[code]

Anyway it would be nice to do this automatically or even better let receive video even if not video is sent

[2018-08-17 12:13] mrbarua commented on #420
I am getting the error. Someone Can tell me whats wrong am I doing?

peer.min.js:1 GET https://localhost:9000/peerjs/peerjs/id?ts=15345079195030.11740366878807929 0 ()
c._retrieveId @ peer.min.js:1
c @ peer.min.js:1
(anonymous) @ script.js:15
peer.min.js:1 PeerJS:  ERROR Error retrieving ID undefined
peer.min.js:1 PeerJS:  ERROR Aborting!
peer.min.js:1 PeerJS:  ERROR Error: Could not get an ID fro

[2018-08-17 17:06] LucaColombi commented on #224
Hello,

it seems to me that the token is already shoult be used to accept the user connection in the server, is it possible? Can you tell me if I am wrong?

in this case the problem would be that the token changes, it could by simply reloading the page if not put in a cookie or similar, as a fix, could the token be forced in the client side?

[code]

[2018-08-18 06:04] dai-shi opened #436 "Use `urls` property instead of `url` in RTCIceServer for iOS Mobile Safari"
https://developer.mozilla.org/en-US/docs/Web/API/RTCIceServer#Properties states that `url` is obsoleted.

More specifically:

https://github.com/peers/peerjs/blob/b88da6a1951802d1319e3b286e2e5105b5cd746b/lib/util.js#L1

From:
[code]

To:
[code]

This only prevents peerjs to work with iPhone Mobile Safari.

[2018-08-18 06:07] dai-shi commented on #436
This and this https://github.com/peers/peerjs/issues/394#issuecomment-385603404 worked for me.

[2018-08-18 11:30] dai-shi commented on #436
https://developer.mozilla.org/en-US/docs/Web/API/RTCIceServer#Properties

This required property is either a single DOMString or an array of DOMStrings, each specifying a URL which can be used to connect to the server.

[2018-08-20 06:14] capripio commented on #394
@kidandcat just created PL from @Simplici

[2018-08-20 10:28] corentin-begne opened #438 "black video when audio is enabled"
Hi,

I've got a black video screen on remote when I enable audio in GetUserMedia.
I tried #147 and #194 but no solution work for me.
When I enable only video that work well.
Someone know why ? Should I use another library ?

[2018-08-20 11:29] kidandcat commented on #438
Could you post your browsers versions?

[2018-08-20 11:51] corentin-begne commented on #438
I've tested in the last chrome version win 10 64
68.0.3440.106 (Build officiel) (64 bits)

[2018-08-20 14:29] fibin commented on #286
Now I have this issue: "OperationError: Failed to set local offer sdp: Called in wrong state: kHaveRemoteOffer". Trying to make connection between two browsers on one computer

[2018-08-20 14:35] kidandcat commented on #286
Which PeerJS are you using?

[2018-08-20 14:36] fibin commented on #286
@kidandcat 0.3.14

[2018-08-20 14:41] kidandcat commented on #286
Update it, latest is 0.3.16

[2018-08-20 14:46] fibin commented on #286
@kidandcat the error has gone! but no still no audio.
here is how I make call:
`navigator.getUserMedia({audio: true, video: true}, function(stream){
      var call = this.peer.call(this.idToConnect, stream);
      call.on('stream', function(stream) {
        console.log('STREAM');
        console.log(stream);
      })
    },
    err => console.log(err));`

and this is how I revieve it:
`  this.pee

[2018-08-20 18:01] Ficik opened #439 "Invalid key provided"
Provided `options.key` is ignored and overwritten with `'peerjs'`:

https://github.com/peers/peerjs/blob/b88da6a1951802d1319e3b286e2e5105b5cd746b/lib/peer.js#L36

[2018-08-21 08:06] kidandcat commented on #439
Yes, right now it is not used, I'm just overwritting it waiting for a full refactor of the library.

Key option was used to setup a PeerServer cloud service by giving unique keys to users. Anyway it is not a good system because the key is stored on client side and so anybody can get and use it.

I just overwrite it to avoid compatibility issues.

[2018-08-21 10:03] Ficik commented on #439
I'm hosting own peerjs-server with different key. I want to use non-default key since server is accessible from internet. But apps are for internal use only so I don't care much about keys on client side.

[2018-08-21 10:14] kidandcat commented on #439
I would recommend you to use a proxy and a custom header, that would be more secure, but if you want to use the key option, you can clone the repository, comment that line which overrides the option.key, and execute "grunt", then you will have your own build of peer.js in dist folder.

[2018-08-21 15:29] kidandcat commented on #439
An older release may not work with latest browser versions. Creating you own build is easy. Anyway, if you need it that much (instead of managing authentication outside of PeerJS using headers and proxies), I can remove the key overwrite.

[2018-08-21 16:05] shubhendumadhukar opened #440 "PeerJS and Socket.IO conflict"
This is not really an issue rather a doubt.

I am using PeerJS and Socket.IO both in my application. Could that create a conflict between the two?

I am not sure because I am facing an issue where I am running the app on localhost and it seems to be working fine but when deployed to Azure, even though all requests and responses are similar, the socket connections aren't established.

Has anyone fa

[2018-08-22 08:07] shubhendumadhukar commented on #440
It must have been an issue with Azure hosting. I moved my application from Azure to Google cloud where I personally found more control over the ports. And I was able to get the application working.
Thanks.

[2018-08-22 08:32] kidandcat commented on #440
Nice!

[2018-08-22 08:32] #440 closed

[2018-08-22 10:55] fibin commented on #438
@kidandcat is there some HTTPS running cloud peerjs-server?

[2018-08-22 11:01] kidandcat commented on #438
the standard PeerServer Cloud runs HTTPS too, you just need to setup it in the PeerJS options:
https://peerjs.com/docs/#peer-options-secure

[2018-08-22 11:36] corentin-begne commented on #438
I use a local peerjs server in https, no error in console.
https://github.com/peers/peerjs-server
When I check the local stream it works fine, so why i can get remote stream with audio and video ?

[2018-08-22 11:39] kidandcat commented on #438
Maybe you are behind a firewall, you mean you don't have video when using PeerServer cloud?

[2018-08-22 11:43] corentin-begne commented on #438
I'm not behind a firewall and when I set only video that works.
I mean I don't use PeerServer in cloud, I host my own.

[2018-08-22 22:29] capripio opened #441 "iOS 11.2 DataConnection on Data won't trigger."
I implemented peer.js in a hybrid application.  everything working fine. but issue regards iOS 11.2 peer.js don't fire data event thus. no data received.

[2018-08-23 02:55] hshahtech commented on #441
The peerjs is currently based on WebRTC which is not supported on the iOS unless you have chrome browser installed.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Muhammad Asif <notifications@github.com>
Sent: Wednesday, August 22, 2018 6:29:44 PM
To: peers/peerjs
Cc: Subscribed
Subject: [peers/peerjs] iOS 11.2 DataConnection

[2018-08-23 16:51] antoniofaienza93 opened #442 "Fault Managment"
Good Afternoon,
I want to ask about the fault management between two peers after the connection has been established. I have seen from [documentation](https://peerjs.com/docs/#peeron-error)  (and i try it) that if I establish a connection with a new peer that is disconnected, i obtain: 'peer-unavailable'. Right.
But if i have already establish connection between peer A and peer B and B for example

[2018-08-27 12:19] kidandcat commented on #438
I'm sorry I couldn't help you. But with the info provided I couldn't do much because I'm not getting any error. I'm glad you got it working, even if I couldn't help.

[2018-08-27 12:19] #438 closed

[2018-08-28 08:04] Masterxilo opened #443 "Release the latest version on ALL channels - or ONLY use npm"
https://peerjs.com/ lists 0.3.9 as the latest version.

https://github.com/peers/peerjs/releases has 0.3.14

only https://www.npmjs.com/package/peerjs has the proper 0.3.16

Please fix this. There seem to be some weird bugs with 0.3.14 and I ran into them...

PS: When you're at it, for the sake of transparency, why not remove the possibility to contact you via team@peerjs.com, making github the on

[2018-08-28 08:13] Masterxilo opened #444 "Throw proper errors in unsupported browsers"
Apparently this does not work in Microsoft EDGE. Please use a console.error message to indicate this - makes troubleshooting easier.

[2018-08-28 08:28] kidandcat commented on #443
Everything done!

[2018-08-28 08:30] kidandcat commented on #444
It should work as Edge has implemented WebRTC and  it is on adapter.js. Let me have a look if there is any guard on the code blocking it. Also, it would be very helpful if you give me any info you got. It will be a little big hard for me because I don't have any Windows machine near

[2018-08-28 15:47] Masterxilo commented on #444
But you are right, it should work - I can properly receive a stream on appr.tc

What am I doing wrong?

[2018-08-30 08:29] #443 closed

[2018-08-30 08:32] kidandcat commented on #442
Sorry, I don't get your point, if you refresh the page, the browser will try to reconnect everything, so it will be  as nothing happened for the user. The behavior will be different if you for example open the url in another tab.

[2018-08-30 10:06] antoniofaienza93 commented on #442
Exactly, if the I refresh the page are there callback from the server ?
Now i have resolved whit a polling that every 5 second ask to the server if
a peer is disconnected.

Il giorno gio 30 ago 2018 alle ore 10:32 Jairo Caro-Accino Viciana <
notifications@github.com> ha scritto:

[2018-08-30 15:57] antoniofaienza93 opened #445 "Error during WebSocket handshake: Unexpected response code: 404"
Hello everyone,
i have finished my project using PeerJs and for test it i have decide to deploy the component of my project. For this, i deploy my server on Heroku. Regarding the client I have changed my point of access from
`const PEER_CLIENT = {
    HOST: "localhost",
    PORT: 9000,
    PATH: "/peerjs"
}`

to
`const PEER_CLIENT = {
    HOST: location.hostname,
    PORT: location.port || (locati

[2018-08-30 16:00] kidandcat commented on #445
You are trying to connect to a PeerServer in the domain "mydomain" which is not a valid domain name

[2018-08-30 16:10] antoniofaienza93 commented on #445
mmm no, "my domain" is a github pages of my project. Now i change the domain with the url of my server and i post the result.

[2018-08-30 16:32] antoniofaienza93 commented on #445
ok, i have resolved. Setting as HOST the url of my server and setting the port on 443 the connection is establish.

Best regards
Antonio Faienza

[2018-08-30 16:32] #445 closed

[2018-09-05 18:40] wardhanster commented on #441
@capripio I think this is more of a safari issue rather than iOS.
I noticed similar behavior when I was working with simplewebrtc. The reason in my case was a failure when the handshake was happening. Can you elaborate on the browsers who were trying to connect and any other relevant info?

[2018-09-06 13:56] antoniofaienza93 opened #446 "Peerjs doens't work with Firefox 52.9.0"
Hi,
i am trying my project from Firefox 52.9.0 and Chrome 67.0.3396.62.
I have visited this link: https://peerjs.com/status/ and this https://caniuse.com/#feat=rtcpeerconnection and i have seen that this version of firefox is not supported. Ok. My question is:
Should not I get a 'browser-incompatible' error message?

thanks

[2018-09-07 07:42] kidandcat commented on #446
You mean in the status page? or when trying to use the library?

[2018-09-07 08:39] antoniofaienza93 commented on #446
mmm yes, i noticed that when I am under the university Network  all browsers doesn't work.
Now i want see if with an STUN/TURN IceServer it work. For this i change my object peer in this way:

            `this._peer = new Peer(this._id, {

            host: this._host, // 'localhost',

            port: this._port, //  9000,

            path: this._path, // '/peerjs'

            config: {'iceSe

[2018-09-07 09:06] kidandcat commented on #446
Webrtc should work if there is at least one port open, also if you are not using a custom PeerServer, the PeerServer Cloud service uses port 9000 so...

[2018-09-07 12:08] antoniofaienza93 commented on #446
ok, i have found the problem (I hope). My university network, has a particular DNS that avoid the connection from different PC. For this reason, when i want establish a comunication with an other peer the comunication can't be establish.

My PeerServer is combined with Express (https://github.com/peers/peerjs-server#combining-with-existing-express-app). For this reason when I'm in local, i can set

[2018-09-11 14:26] osnoww opened #447 "WebRTC video calling broken by Firefox update from 61.0.2 to 62.0"
The update of Firefox from version 61.0.2 to version 62.0 has broken video calling in my application. Neither outgoing nor incoming calls to FF work.

Calls between Chrome / Chrome and Chrome / my app continue to work.

https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/62 indicates some media related changes, but nothing obviously the root cause

[2018-09-11 16:04] bradisbell commented on #447
Surely the issue is this?  https://bugzilla.mozilla.org/show_bug.cgi?id=1454889

Are you using `URL.createObjectURL()`?

[2018-09-11 18:45] osnoww commented on #447
Thanks Brad,
Possibly. Looking through the code now. Cheers
Oliver

On Tue, 11 Sep 2018, 17:04 Brad Isbell, <notifications@github.com> wrote:

[2018-09-12 14:36] osnoww commented on #447
Brad, you were spot on. Thanks! I owe you a beer :-)

[2018-09-12 14:36] #447 closed

[2018-09-20 12:14] maxpavlov commented on #446
@antoniofaienza93 if your issue is resolved, please close the ticket. We need to clear up the issues for the project if we expect it to move forward.

[2018-09-24 02:57] Macil commented on #436
Firefox seems to want this too. In Firefox, I get this warning in the console: "RTCIceServer.url is deprecated! Use urls instead."

[2018-09-24 08:16] #446 closed

[2018-09-24 08:18] #442 closed

[2018-09-24 08:19] #441 closed

[2018-09-24 10:33] nitcheulegrand opened #449 "ERR_SSL_PROTOCOL_ERROR"
Hello
I am using PeerJS to implement a video conference web app.
I got this error while creating an instance of Peer object withought giving a key:
GET https://0.peerjs.com:9000/peerjs/id?ts=15377843943420.9081415662556815 net::ERR_SSL_PROTOCOL_ERROR

[2018-09-24 10:37] kidandcat commented on #449
Do you want to use SSL or not? if you dont use SSL, don't pass httpS.

If you want to use SSL, you will need to change the port (next week we will publish a new version with a fix).

So in the configuration options, pass:
[code]

[2018-09-24 10:38] nitcheulegrand commented on #449
![image](https://user-images.githubusercontent.com/42095614/45947998-36f5cc00-bfee-11e8-9025-f93583485d6a.png)
Screenshot of Chrome browser

[2018-09-24 10:39] nitcheulegrand commented on #449
`
let p = new Peer({
			key: 'lwjd5qra8257b9',
			secure: true,
			initiator: true,
			stream: stream
		});
`

[2018-09-24 10:40] nitcheulegrand commented on #449
Let me do it as you say an come back to you.
Thank for assistancy.

[2018-09-24 10:42] nitcheulegrand commented on #449
The problem persist
`let p = new Peer({
			key: 'lwjd5qra8257b9',
			port: 443,
			host: "https://0.peerjs.com",
			secure: true,
			initiator: true,
			stream: stream
		});`
You can check it yourself on this adresse https://legrandsoft.alwaysdata.net/

[2018-09-24 10:48] kidandcat commented on #449
Sorry: host: "0.peerjs.com"

PD: remove https://

[2018-09-24 16:32] pfifo commented on #385
@kidandcat
Dont just close my bug with out saying a word. What is the update? Fix? No Fix? Im going to create a copy of this report so we can continue.

[2018-09-24 16:33] pfifo opened #450 "Bidirectional Streams? #385"
Reopening issue as it was closed but not resolved.
https://github.com/peers/peerjs/issues/385

[2018-09-24 17:07] kidandcat commented on #385
Sorry, no activity in more tan 1 month. Do you have any new info?
I have nothing to do without a reproducible bug.

[2018-09-24 17:13] pfifo commented on #385
To reproduce this simply follow the instructions on general use. Are you able to get 2 peers to communicate with eachother without opening 2 different connections? If so then there is a problem with my OS or Browser. Im very out of date with peerjs because I have been using webrtc and  webtorrent instead. But if this is something we can get fixed PeerJS would become an option for my use case.

[2018-09-25 10:44] kidandcat commented on #450
I'm closing this, the other one is already reopened.

[2018-09-25 10:44] #450 closed

[2018-09-25 10:45] kidandcat commented on #449
is it resolved?

[2018-09-25 11:01] kidandcat commented on #385
Here you have a fully working bidirectional data channel:

[code]

Chrome 69.0.3497.100 (64 bits)

In Edge Datachannels are still not supported though:
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/rtcdatachannels/

[2018-09-29 07:00] Sreekanthp74 opened #452 "Getting Syntax error "SCRIPT5022: SCRIPT5022: SyntaxError" on Edge Browser"
When I try to initiate the peer setup in Microsoft Edge browser am getting an error from peer.min.js file. (peerjs build:0.3.16, production)
**

**

But it is working fine on chrome, safari and firefox

Please give me a quick solution.Because its very critical for me.

[2018-10-01 07:54] kidandcat commented on #452
What are you trying to do, call (audio or video) or data channel?

[2018-10-01 14:49] #449 closed

[2018-10-01 17:19] ilya-konanykhin opened #453 "Change deprecated onaddstream to ontrack"
`adapter.js` shows a deprecation warning in latest Firefox: `onaddstream is deprecated! Use peerConnection.ontrack instead.`

MDN confirms `onaddstream` was removed from the standard in favor of `ontrack`:
* https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/onaddstream
* https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/ontrack

[2018-10-01 17:20] ilya-konanykhin commented on #453
Relevant issue: https://github.com/peers/peerjs/issues/330

[2018-10-01 17:20] ilya-konanykhin commented on #453
I'm going to make a PR to fix this.

[2018-10-01 21:14] #453 closed

[2018-10-03 10:35] Masterxilo commented on #295
And what do we do to fix this? Can peerjs send a keepalive ping/signal? Does it help to use a data connection simultaneously?

[2018-10-03 10:46] Masterxilo commented on #295
Can we ignore the error of losing connection to the websocket of the signaling server?

[2018-10-04 14:16] kidandcat commented on #295
PeerJS automatically send a websocket ping, but for this use case where is heroku who kills the app, you will need to implement your own kind of keep alive using a setInterval or similar

[2018-10-04 19:39] Masterxilo commented on #295
Well our router seems to kill the websocket connection after 1 min as well,
no heroku... The ping/keepalive fixed this.

Jairooo <notifications@github.com> schrieb am Do., 4. Okt. 2018, 16:18:

[2018-10-04 20:59] kidandcat commented on #452
Edge does not completely support webrtc yet, closing issue because lack of details

[2018-10-04 21:00] kidandcat commented on #444
Edge has partial support for webrtc (calls yes but not data channels) so I will think a way of handle this

[2018-10-04 21:01] kidandcat commented on #436
Done by @i0n, peerjs version 0.3.17

[2018-10-04 21:01] #436 closed

[2018-10-04 21:02] #385 closed

[2018-10-04 21:04] kidandcat commented on #382
Why do you want to do that? You cannot know if the new connection comes from an existing client or not, if you do what you say, I can close A connection by connecting from B with same ID.

[2018-10-06 10:35] pfifo commented on #385
Wow, thanks you for the example. Ill get this running and let you know how it turns out. Give me some time as I haven't done any javascript for several months now, and had some project specifics that might be causing problems.

[2018-10-08 06:10] Sreekanthp74 commented on #452
@kidandcat
I was trying to do audio/video call. But while creating the new Peer i got this syntax error.
![error](https://user-images.githubusercontent.com/11881498/46594116-adb2bf00-caee-11e8-95b2-8f0fd023c78c.PNG)

My code for creating new peer is
`            peer = new Peer(my_peer_id, {
                host: '/',
                port: '',
                path: '/peerjs',
                debug

[2018-10-09 09:53] sameernafdey commented on #295
This is true, and I did the same few weeks back.

Don't remember where I got this inspiration from but here is how I achieved it in Angular app deployed on Heroku.

[code]
elsewhere..

[code]

[2018-10-09 17:30] vivekkumar27june88 commented on #382
Hi @kidandcat, Thanks for your response. You can close this issue.

I had posted this question long back. That time I had managed to change the code locally for our purpose.T

[2018-10-10 06:54] bgobi1991 opened #455 "Audio issue"
Dear Team,

I can't here the other person voice in my window. I connected the laptop wiht chrome browser

[2018-10-11 15:39] pglushenkov commented on #281
+1

[2018-10-15 20:16] LocusSage commented on #328
Well. the only workaround I've found was to create a data channel between the peers and send an finish object that finishes the call on the other end

[2018-10-17 14:44] ivanhxq opened #456 "relay mode does not working even when TURN server is provided"
Network penetration failure will not go relay even  when TURN server( coturn )  is provided.I can be sure my turn server relay is ok when  I tested with pjsip .But it does not work with peerjs &&webrtc. I try seveal  config as below:

1)	    var peer = new Peer({
        host: "132.232.32.161",
        port: 9000,
        path: '/peerjs',
        debug: 3,
		iceTransportPolicy: 'relay',
        co

[2018-10-18 16:50] #351 closed

[2018-10-19 07:46] kidandcat commented on #455
We would need more info, could you post your code and/or any log in your browser console?

[2018-10-19 07:48] #382 closed

[2018-10-19 07:49] kidandcat commented on #452
Could you post any log in your browser console?

[2018-10-24 04:42] RamyaAshika opened #457 "could not get an id from the server peerjs"
It worked perfectly but suddenly from yesterday the peer id is not generating?

[2018-10-24 05:10] RamyaAshika commented on #423
It seems like Peerjs is not working again?? @kidandcat

[2018-10-24 08:14] TrojanLij commented on #423
I have encountered the same problem where PeerJS servers are down. The best way to go around it is to just host your own PeerJS-Server on some node.js server. I use PeerJS in a development environment which for me is enough to just have a VM up and running with my video/chat app installed on an apache2 server and node.js running a PeerJS-Server on the local network.

[2018-10-24 08:16] kidandcat commented on #423
Exactly, I'm sorry for the downtime, but servers just went down, I'm moving everything to a new provider, everything will be ready asap.

Anyway, those of you who need a high SLA, the best option for you will always be to setup your own Peer-Server.

I'm sorry for the inconveniences.

[2018-10-24 08:18] kidandcat commented on #423
The website is available here: https://peerjscom-qmqhkktbyd.now.sh/

The DNS server transfer may take up to 24h to complete.

[2018-10-24 08:31] kidandcat commented on #423
The PeerServer is working, but only using WSS. I'll keep working on it.

[2018-10-24 09:00] RamyaAshika commented on #423
May I know what is WSS? and whether this kind of issues will persist in the future? If so what is the solution I need to do? @kidandcat

[2018-10-24 09:04] RamyaAshika commented on #423
I'm using tomcat server. If I want to deploy in an online server. How to do that in node js server? @TrojanLij

[2018-10-24 09:20] kidandcat commented on #423
WSS is WebSocket Secure, it's like using HTTPS. To deploy your own server you need to use this: https://www.npmjs.com/package/peerjs-server

[2018-10-24 09:30] kidandcat commented on #423
To use WSS, you have two options. Set Peer({host: "https://0.peerjs.com"}) or use latest version (0.3.18) which uses WSS by default.

[2018-10-24 09:37] TrojanLij commented on #423
The way my node.js server is running right now is on a local network using Ubuntu server 16.04 and it is accessible with my development environment (LAN). If you wish to host it to others or have it so others can use it as a means to give an ID to user/users i would suggest you find some online hosting service for node.js app development (or some kind of test my node.js app in a global environment

[2018-10-24 09:54] RamyaAshika commented on #423
Now if I want to run my application like as previous it will take 24hours right?? @kidandcat

[2018-10-24 09:55] RamyaAshika commented on #423
Thank you  @TrojanLij

[2018-10-24 09:57] kidandcat commented on #423
If you update Peerjs lib to 0.3.18 (already in NPM), it will work right now

[2018-10-24 10:02] RamyaAshika commented on #423
I have used this script only <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.17/peer.min.js"></script> I didn't installed npm @kidandcat

[2018-10-24 10:09] kidandcat commented on #423
cdnjs updates more or less every hour

[2018-10-24 10:40] RamyaAshika commented on #423
Please let me know once its updated. Thanks a ton @kidandcat

[2018-10-24 12:13] RamyaAshika commented on #423
Still, it's not updated?? @kidandcat

[2018-10-24 12:18] kidandcat commented on #423
You can check it here: https://cdnjs.com/libraries/peerjs

I have nothing to do with that CDN. If use NPM or downloads the library from the repository, you already have the latest version.

[2018-10-25 04:37] RamyaAshika commented on #423
Yes, it worked great !!! Thanks @kidandcat

[2018-10-25 13:33] thienanh96 commented on #457
The same problem

[2018-10-25 16:28] kidandcat commented on #457
Yesterday servers went down. I've changed the server provider. But right now only WSS (Websocket secure) connections are allowed.

To use WSS you need to setup these configuration:

      new Peer({host: "https://0.peerjs.com"})

Or simply update the library to version 0.3.18 and it will connect automatically without configuration (using WSS which uses port 443)

[2018-10-26 13:25] RamyaAshika opened #460 "Is this possible to transfer the stream of canvas to remote connection?"
I have connected the peers between user A and user B that works fine. Now I need to send a canvas stream to the remote connection canvas with the same peer ID. Is it possible?

Thanks in advance.

[2018-10-26 13:41] RamyaAshika commented on #457
Is this possible to transfer the stream of canvas to a remote connection? @kidandcat

[2018-10-26 13:50] kidandcat commented on #460
Yes, it is possible, you can use https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/captureStream

[2018-10-26 13:51] kidandcat commented on #457
@RamyaAshika I answered you in the related issue, I'm closing this issue.

[2018-10-26 13:51] #457 closed

[2018-10-27 04:44] RamyaAshika commented on #460
Ok Fine. But I already created a connection between user A and user B and shared the media stream. Now with the same connection, I need to share my canvas stream from user A to user B. Is it possible? @kidandcat

[2018-10-27 09:13] kidandcat commented on #460
You need to create another connection. One per new stream.

El sáb., 27 oct. 2018 6:44, RamyaAshika <notifications@github.com> escribió:

[2018-10-29 04:31] RamyaAshika commented on #460
So !! For canvas one connection, I need to create and for the media stream, I need to create another connection? But this is the one I'm trying to do
https://www.youtube.com/watch?v=yC2OnESpcf4 using peerjs and canvas Is it possible? @kidandcat

[2018-10-29 08:00] kidandcat commented on #460
Almost yes, but they are using Augmented Reality for the draws to stay on their place. Probably ARCore and ARKit. For the streams the only thing is that you need to make one call per stream, so you will need to do 2 calls, one for the video and another one for the canvas.

[2018-10-29 11:45] RamyaAshika commented on #460
Yes, but for video application, I have used webRTC. Now which way I can go to achieve like what they did? Whether by canvas can I acheieve like the way I'm expecting? @kidandcat

[2018-10-29 13:04] Sreekanthp74 commented on #460
@RamyaAshika  you can create data connection using **peer.connect()** for passing the values from one end to another. By using the data connection you can send the canvas drawing coordinates  and you can plot the point in another end. And by using **peer.call()** and **peer.answer()** you can make video or audio calls.

[2018-10-29 13:48] kidandcat commented on #460
Yes, you can overlay a canvas on top of a video.

El lun., 29 oct. 2018 14:24, RamyaAshika <notifications@github.com>
escribió:

[2018-10-29 13:54] RamyaAshika commented on #460
Ok, I will try and let you know. Thanks @kidandcat

[2018-10-29 13:56] RamyaAshika commented on #460
But whether it will reflect on user B from user A over the video which I'm doing on canvas? @kidandcat

[2018-10-29 13:59] kidandcat commented on #460
Yes, you can transmit the canvas by obtaining a mediastream from it (look
into MDN docs).

El lun., 29 oct. 2018 14:57, RamyaAshika <notifications@github.com>
escribió:

[2018-10-29 14:05] RamyaAshika commented on #460
Okay, thanks, I will try and let you know @kidandcat

[2018-10-29 20:50] thelaumix opened #462 "Cloud servers not working anymore? Connection issues..."
Hey there,

I suddenly seem to have problems with the cloud server / 0.peerjs.com. Didn't even change the code or anything about the web apps, and I remain getting returned a ERR_CONNECTION_TIMED_OUT on practically ANY network I try it - no matter if mobile, home or public.

Any ideas what this is about? Are the servers closed now? Do I need to run my own server from now on? :D

Best regards and h

[2018-10-30 01:40] hnabi94 commented on #462
I am also having issues connecting to the cloud server. Connection attempt is timing out.

[2018-10-30 07:49] kidandcat commented on #462
Update to the latest version, 0.3.18.

[2018-10-30 07:50] kidandcat commented on #456
Mmm, the use of TURN servers is managed by the browser, do you have a firewall on any of the machines?

[2018-10-30 09:02] thelaumix commented on #462
Just did that, but the TIMEOUT errors only get more with that...

[2018-10-30 09:05] thelaumix commented on #462
Ah, nevermind - suddenly it works fine. Thanks!

[2018-10-31 11:59] RamyaAshika commented on #460
Hey I have done that but both  are colliding each other   var
var stream = can.captureStream();
myvideo.srcObject=stream;

Like this, I captured my stream and if I'm doing it in the single page it works fine but when I'm trying to send this to my peer connection it's taking as a video stream and hiding my background video and this canvas stream is showing.

   peer.on('connection', function (conn1

[2018-11-01 07:17] Sreekanthp74 commented on #452
Codes am trying to make the connection is

[code]

but getting error while initializing .i.e. when calling peer = new Peer() itself am getting the syntax error. Please find the snap shot attached
![log_snap](https://user-images.githubusercontent.com/11881498/47838081-3c57ea80-ddd4-11e8-8a86-9104bedd1774.PNG)

[2018-11-01 07:30] Sreekanthp74 commented on #460
@RamyaAshika
Please do the stream capture on
peer.on('call', onReceiveCall);
on receive call you can do
[code]

and for calling peer with peer id
[code]

onReceiveStream(); will always get the remote stream and there you can play with the remote stream.

[2018-11-01 07:40] RamyaAshika commented on #460
I am trying to capture html5 canvas using captureStream API which has drawings on it and play it using html5 video tag. The problem I am facing this when I capture the stream and play it within video tag It plays exactly same. But when I send that stream to another peer (webRTC Streaming) and play it there.

It gets played with the black background. i.e. video is not transparent anymore.

So this

[2018-11-01 09:17] kidandcat commented on #452
Edge partially implements WebRTC, so I recommend you not to use it until it
is fully supported.

El jue., 1 nov. 2018 8:17, Sreekanthp74 <notifications@github.com> escribió:

[2018-11-01 09:46] Sreekanthp74 commented on #452
@kidandcat  Yes I know, but i am able get my local media stream using adapter.js shim. The issue is only with creating the peer connection. This is a syntax error right?

[2018-11-01 10:09] Sreekanthp74 commented on #460
@RamyaAshika  Sorry, I thought you are having issue with the peer stream.
But html video tag background can be changed with the 'CSS' itself ,
just add this to test it
[code]
But am not sure about the video background. Am not much familiar with captureStream API.

[2018-11-02 04:33] RamyaAshika commented on #460
Ok Can we make it as transparent? @Sreekanthp74

[2018-11-06 16:26] opxwebdev opened #464 "Delay in time at event "disconnected"."
Hi.
I have the following problem. When a connection is closed by one of the clients, the second client receives a "disconnected" event about one minute after the connection is closed. Although the message "PeerJS: iceConnectionState is disconnected, closing connections to ..." is displayed in the console almost instantly.
Is it possible to add an event handler for the "iceconnectionstatechange" ev

[2018-11-06 21:14] kidandcat commented on #464
Due to the possibility of a quickly reconnect to be transparent to the client, the disconnect event is sent when the timeout ends after the last heartbeat received. You can use your custom disconnect event and launch it just before disconnecting, or you can lower the timeout between heartbeats, but if you do that, you may have issues in high latency connections.

I need to check how to change the

[2018-11-07 07:53] opxwebdev commented on #464
Thanks for the quick answer. If it is not too hard for you, can you add a small example of how to add a custom event and the main thing is how to start it before disconnecting? I understand that reducing the delay time causes problems, but I would like, for example, to show the connection status to the user, so adding a user event will be enough for me. Thanks.

[2018-11-07 11:30] RamyaAshika commented on #344
Any updates on this? I'm also facing the same problem? @kernelfreak

[2018-11-08 08:39] kidandcat commented on #344
The server process shutdown? No logs even with log level at max?
I'm sorry but I'm very busy now to investigate this issue, there is no info at all, so it will take a long time probably to find the cause.

You can use an utility like PM2 https://github.com/Unitech/pm2 to restart it after shutting down.

[2018-11-08 09:50] opxwebdev commented on #464
Thanks for the answer. Made through the event "onbeforeunload". Probably not the best solution, but I just send a message through DataConnection, that the client on the other side closed the window. I would hope that in the future browser manufacturers will not make more stringent rules on the use of the "onbeforeunload" event, because in practice sometimes there are problems with it.

[2018-11-08 09:50] #464 closed

[2018-11-10 05:39] RamyaAshika commented on #344
What is this PM2?? @kidandcat

[2018-11-10 06:05] RamyaAshika opened #465 "InvalidStateError: RTCPeerConnection is gone (did you enter Offline mode?)"
Why this keeps on coming when I'm trying to connect to peers and one more thing I'm getting is
ICE failed, add a TURN server and see about:webrtc for more details often can I know why these are things are happening?

[2018-11-10 10:01] kidandcat commented on #344
https://medium.com/@riyadhalnur/managing-and-deploying-nodejs-apps-with-pm2-173fbc7d3f95

El sáb., 10 nov. 2018 6:39, RamyaAshika <notifications@github.com> escribió:

[2018-11-10 15:10] RamyaAshika commented on #465
Okay Let me see this,Actually I'm new to this. I will let you know once its done. @kidandcat

[2018-11-12 05:51] RamyaAshika commented on #465
I have gone through this but how to add these servers. I mean how to do add this relay server or TURN server? Whether these are open source?@kidandcat

[2018-11-17 15:03] michaelcamper opened #467 "Cannot find name 'RTCDataChannel'"
When using PeerJS with Angular, the Angular CLI throws an Error when doing `ng serve`

`ERROR in node_modules/peerjs/index.d.ts(157,22): error TS2304: Cannot find name 'RTCDataChannel'.`

[2018-11-21 15:31] Bobisback opened #468 "Ionic Project Examples?"
Does anyone have a guide to using ionic 3 or 4 and the newest version of peerjs?

[2018-11-21 17:43] kidandcat commented on #468
Not me :/

[2018-11-22 13:54] darkspive opened #469 "Does not works in IE"
SCRIPT438: Object doesn't support property or method 'createDataChannel' - IE Edge
I can't connect in the IE Edge
`peer = new Peer({host: 'example.ru', port: 9000, path: '/', debug: 3, secure: true});
   peer = peer.connect(channel);
   peer.on('open', function() {
       peer.on('data', function(data) {
       console.log('Received', data);
   });
   peer.send('Hello! Channel '+channel);
});`
pee

[2018-11-22 21:05] kidandcat commented on #469
IE doesn't support DataChannels, only video.

[2018-11-26 14:03] RamyaAshika opened #470 "ICE failed, add a STUN server and see about:webrtc for more details"
I'm new to this webRTC. I have created a connection between two streams. It's working but when transferring the media streams its throwing this error ICE failed, add a STUN server and see about:webrtc for more details. I have tried like this

 peer = new Peer(id, {
            debug: 2,
			 config: {'iceServers': [
                    { url: 'stun:stun.l.google.com:19302' },
                    {

[2018-11-26 14:20] kidandcat commented on #470
Sorry, the Docs need an update, the ice Servers are configured like this:

{'iceServers': [{ 'urls': 'stun:stun.l.google.com:19302' }]};

[2018-11-27 06:08] RamyaAshika commented on #470
Fine. Whether is there any free stun and turn server is there or else I need to buy these servers? @kidandcat

[2018-11-27 07:58] kidandcat commented on #470
There are a lot of free STUN servers, because they are used only to start
the connection (they don't need high resources) but there are no TURN
servers free, because if the P2P connection cannot be established, the
fallback is that all the communication goes through a TURN server, so they
need high resources and bandwidth.

El mar., 27 nov. 2018 7:08, RamyaAshika <notifications@github.com> escribi

[2018-11-27 10:00] RamyaAshika commented on #470
OOh, Can I build my application without TURN server? @kidandcat

[2018-11-27 11:44] kidandcat commented on #470
Yeah sure,
but if there is a strang network condition where p2p is completely
impossible, there will be no fallback to TURN and the connection will fail,
but those cases are not common. You just need STUN servers.

Gracias,
Jairo Caro-Accino Viciana.

El mar., 27 nov. 2018 a las 11:00, RamyaAshika (<notifications@github.com>)
escribió:

[2018-11-27 13:07] RamyaAshika commented on #470
Okay, this is the open source I'm using { urls: 'stun:stun1.l.google.com:19302' } but still, I'm getting the error sometimes ICE failed, add a STUN server and see about:webrtc for more details. Do you know any open source stun server configuration and why after 5-10 minutes, Connection is getting lost? @kidandcat

[2018-11-28 04:49] abardik commented on #347
In lib/negotiator.js add to lines as shown above with comment // add sdpMid which is absent in original peerjs

[2018-11-28 06:32] RamyaAshika commented on #347
OOH ok fine but I'm using this library https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.18/peer.min.js so what I need to do now? @abardik

[2018-11-28 07:01] abardik commented on #347
Well, I forked from 0.3.13 two years ago and changed a lot. But you can fix this by yourself in new version as well. You have to modify the source code, so:
1. Grab the non-minified version from here:
https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.18/peer.js
2. Go to the line 722 (Negotiator.handleCandidate)
3. Add two lines shown in previous comment or change the whole function to the followin

[2018-11-28 08:48] RamyaAshika commented on #347
Let me try, Many many thanks

On Wed, Nov 28, 2018 at 12:31 PM Andy Bard <notifications@github.com> wrote:

[2018-11-28 09:16] RamyaAshika commented on #347
I keep on getting this error now  @abardik ICE failed, add a TURN server and see about:webrtc for more details

[2018-11-28 09:19] RamyaAshika commented on #347
TypeError: connection.pc is undefined[Learn More] this error also @abardik

[2018-11-28 09:36] abardik commented on #347
TURN is required if your peers cannot establish a direct connection. For example, this is possible, if one of them behind the NAT. I have to use TURN often when one of the peers is mobile client (LTE). So, try to install your own TURN or find a public one (which is hard to find). Actually, did you configured ICE servers settings? Maybe the problem is just ICE (STUN), not TURN. STUN is required for

[2018-11-28 09:40] abardik commented on #347
You can use Google's STUN:

var config = { 'iceServers': [{ 'urls': ['stun:stun.l.google.com:19302'] }] };

and then:

var peer = new Peer(id, config);

[2018-11-28 09:44] RamyaAshika commented on #347
After googling a lot I found these things only but I don't think so this is also working.
	 peer = new Peer(id,{
		  debug: 2
		   config: {'iceServers': [
{ url: 'stun:stun.l.google.com:19302' }, // Pass in optional STUN and TURN server for maximum network compatibility
 { url: 'turn:numb.viagenie.ca:3478', credential: 'muazkh', username:'webrtc@live.com' },
 { url: 'turn:numb.viagenie.ca', crede

[2018-11-28 09:44] abardik commented on #347
About TypeError... I need more info from your browser console (at least file and line of the error, or trace or something). Try to include the original 0.3.18 (not minified) and then just add those two lines.

[2018-11-28 09:50] RamyaAshika commented on #347
Sure I will let you know @abardik

[2018-11-28 09:55] abardik commented on #347
I don't know about those TURNs in your example (it seems like old test servers from peerjs developers), but STUN is good. Remove all TURNs and try again. You can try my example above with just one Google's server ('urls' is a new standard instead of old 'url' from your example).
P.S. From my experience, iPhone LTE requires TURN anyway. At least, with my mobile carrier. So, if you connect from iPho

[2018-11-28 10:08] RamyaAshika commented on #347
/** Handle a candidate. */
        Negotiator.handleCandidate = function (connection, ice) {
            var candidate = ice.candidate;
			  var sdpMid = ice.sdpMid; // !!! THIS LINE
            var sdpMLineIndex = ice.sdpMLineIndex;
 connection.pc.addIceCandidate(new RTCIceCandidate({    //TypeError: connection.pc is undefined
				      sdpMid: sdpMid, // !!! AND THIS LINE
                sdpMLin

[2018-11-28 10:09] RamyaAshika commented on #347
and now this is my code

	 var config = { 'iceServers':
		[{ 'urls': ['stun:stun.l.google.com:19302']
		}]
		};
	 peer = new Peer(id, config);

[2018-11-28 10:19] abardik commented on #347
Config is good, but the browser says you need TURN, because ICE failed. This is the same behavior I have with iPhone. If any of those TURNs from your example did not work, you should to install your own TURN or maybe try to create account here: http://numb.viagenie.ca/ (I never tried them). You have to create that account because their TURN requires an authentication, and you should put your login

[2018-11-28 11:03] RamyaAshika commented on #347
Many many thanks abardik.Let me try and I will let you know @abardik

[2018-11-28 11:09] RamyaAshika commented on #347
After creating an account, this is how I configured in my code. Whether it's correct or not?
 var config = { 'iceServers':
		[{ 'urls':'stun:stun.l.google.com:19302'},
		{ 'urls': 'turn:numb.viagenie.ca', credential: 'mypassword', username:'myusername' }	] };  @abardik

[2018-11-28 17:17] kidandcat commented on #347
Just for the code modification, you can clone the repository, make the changes, and compile, you only need to launch grunt (don't need to mess with minified code). And ofc any PR is welcome.

[2018-11-28 20:29] abardik commented on #347
By spec it should be:
[code]

[2018-11-29 06:02] RamyaAshika commented on #347
I tried but often I'm getting the same issue if I I tried to connect 5times,in that only 3 times works. and media streams are getting strucked its not at all moving more than 2 minutes - 3minutes @abardik
![screenshot 684](https://user-images.githubusercontent.com/38552130/49202405-824fa080-f3ca-11e8-9250-7f205ef5d4db.png)

[2018-11-29 06:32] abardik commented on #347
If you successfully established LTE connection and transfered some data and it has been live for several minutes, than I believe the reason of your initial issue is gone. Now, I think you have another problem - unstable connection. It can be anything. For example, bad LTE signal or bug in your code. You should try to write as simple test as possible to exclude your bugs.
But from the other side, y

[2018-11-29 06:47] RamyaAshika commented on #347
Can I share my code? @abardik

[2018-11-29 06:49] abardik commented on #347
Sure.

[2018-11-29 07:02] RamyaAshika commented on #347
Here I have attached my file as a txt. Please change it as HTML file. Sender file is the one who is creating connection and receiver is the one who is receiving the connetion.
[Sender.txt](https://github.com/peers/peerjs/files/2627940/Sender.txt)
[receiver.txt](https://github.com/peers/peerjs/files/2627942/receiver.txt)

and here after getting the stream in video tag,I'm drawing it into the canvas

[2018-11-29 07:44] abardik commented on #347
Sorry, I don't have https server to upload and try your code. It's not possible to establish a non-secured (http) connection for webrtc (only localhost, but you need LTE). I suggest to start from very simple webrtc/peerjs example to avoid your own bugs. Then, when you successfully establish LTE connection in that simple example, you can start to add your own logic.

[2018-11-29 12:46] RamyaAshika commented on #347
But it works great in Firefox and one more doubt I'm having in firefox documentation,they said webrtc won't work in safari. Whether it will work on safari or not? @abardik

[2018-11-29 15:54] RamyaAshika commented on #371
Whether you got any solution for this @arcifius

[2018-11-29 23:22] abardik commented on #347
It will. `MediaConnection` will work as is. But for `DataConnection` you have to make a little fix to send binary data (this is not required if you plan to send strings only). To do this in `DataConnection.prototype._trySend` find `this._dc.send` and replace it with the following:
[code]
Or you can handle this in your main code where you calling DataConnection.send(). Maybe it has been fixed alrea

[2018-11-29 23:23] abardik commented on #347
And you have to define `ios` somewhere, of course.

[2018-11-30 09:01] RamyaAshika commented on #347
Ok, I will ask this when I will work on that issue. Right now Let me try to get the connection clearly @abardik

[2018-12-04 17:53] pReya opened #471 "Error 429: Rate Limited from Zeit.co"
I've been getting a lot of "429: Rate Limited" errors from Zeit.co, both when accessing the website and when creating new Peer() calls in the library. Is this a per-user limit? How high is the limit? I've only been doing manual testing over a couple of days. Probably a couple of dozen requests per day.

[2018-12-04 20:21] kidandcat commented on #471
It's a global limit, and it is applied to the hosting provider where the public cloud server is hosted. I should look for other provider, or make it easy to deploy your own servers.

[2018-12-04 20:51] pReya commented on #471
Thanks for clearing that up. So I guess currently you're using the free Zeit plan with 1000 req/day, correct? Wouldn't it be possible to host the public cloud server in the free tier of Google Cloud Platform via Google App Engine? If I'm not mistaken they offer at least 10.000 req/day in the free plan. https://cloud.google.com/free/

[2018-12-04 21:33] kidandcat commented on #471
Is not the free tier in Zeit, but because it is the old api v1, it has limits too. I'm looking to move the server to v2 serverless api

[2018-12-05 06:21] Bobisback commented on #347
@abardik Is there any other bug fixes needed to get peerjs to work on ios?

I am having an issue where only on iOS, if a peer connects to iOS it does not work. But if iOS connects to anything else it works fine. Any ideas?

[2018-12-05 06:39] Bobisback commented on #347
Well I was just planning to only send strings, and my application will be wifi only. So technically it should work then?

Maybe I am just missing something. In my case it says it is connected and I get the connection event being fired off of the peer object that gives a DataConnection object, but then any interaction I have with the DataConnection object, does not work. No console logs, no errors,

[2018-12-05 06:44] Bobisback commented on #347
Can you confirm that you got peerjs to work correctly on iOS 11 in a MKWebView application? I am guessing that Meteor is some sort of cross platform web based framework like cordova?

There is tons of things saying that iOS 11 is not supported for webRTC, based on my research this is not entirely true, and in fact it works fine but you cannot get the data stream through the browser. Since we can g

[2018-12-05 07:12] abardik commented on #347
Yes, it works totally correctly on iOS, starting from iOS 9 or 10 when WebRTC has been announced by Apple (pure Safari and Phonegap app with WKWebView and iosrtc plugin, because WKWebView for Cordova still doesn't support WebRTC). No issues with DataConnection and MediaConnection. It's hard to deal with iosrtc plugin, but it works finally. Android the same - everything works, starting from Android

[2018-12-05 07:14] abardik commented on #347
Meteor is not lika Cordova. Meteor it's just a full-stack web framework. Cordova is a mobile framework. Cordova gives you an access to device's features. Meteor just gives you an exellent way to deal with data and UI.

[2018-12-05 17:50] Bobisback commented on #347
Ok so you never actually created a native mobile app then? Meteor just allows you to code a website for mobile, but it is using prue safari not WKWebView. Based no ym research WKWebView is the issue.

[2018-12-05 19:35] Bobisback commented on #347
@abardik So how do you define iOS or not in the Uint8Array bug?

Also does this refer to the person you are sending it to is on iOS or does it mean that client who is sending it is on iOS?

[2018-12-05 20:13] abardik commented on #347
Something like this:

[code]

[2018-12-05 20:20] abardik commented on #347
Phonegap (Cordova) is a native app. You just use JS to code instead of Objective C or Java. Meteor is a web framework. You can not build a native app with meteor only. You have to wrap meteor app into cordova app. Then you have WKWebView in your cordova app, in which meteor web app is running. But from the WebRTC point of view it doesn't meter what web framework you're using. You have cordova impl

[2018-12-05 20:23] abardik commented on #347
And yes, there are no issues with WebRTC and peerjs on all of those platforms. Only restrictions I have with WebRTC are in IE and Edge. Chrome, Firefox, Safari, UIWebView, WKWebView - all of them just work.

[2018-12-05 20:44] Bobisback commented on #347
@abardik Cool that is good to here. Thanks for the input. At this point I just need to figure out how to piece all this together.

Right now I am doing a test with data connection and i am having issues with it in both safari and iOS MKWebView. Maybe you can help me out with it?

When setting breakpoints it would appear the issue is related to RTCPeerConnection and the event onicecandidate. With f

[2018-12-05 22:55] abardik commented on #347
Uint8Array is for already established connection and just for binary data transfer. For strings only you don't need it. And, actually, I see now, that I've commented sdpMid fix almost a year ago. It works now without that fix for me. Sorry for that. Comment it and try again. Your problem is ICE. If you have no onicecandidate, you have no peer to connect to. I had the same issue on iOS on LTE witho

[2018-12-06 09:23] RamyaAshika commented on #347
I have tried with COTURN configuration with my local system using my local IP address. It worked. But now, I'm trying to configure this using my public IP. Is it possible? and I'm doing this using Cygwin, can I able to configure this in my system with my public IP address? @abardik

[2018-12-06 09:58] abardik commented on #347
Theoretically, yes. But I never configured TURN locally, so, practically, I don't know.

[2018-12-06 18:00] abardik commented on #347
I have to see your candidates to say something. If you have just one candidate 127.0.0.1 (localhost), no other peer can connect to you, except others on the same device. Go to Negotiator.handleCandidate and change the last line to this:
util.log('Added ICE candidate for:', connection.peer);

[2018-12-07 19:39] hasangilak commented on #98
these sort of function needs navigator as its context. so with bind we can simply solve the problem.
[code]

[2018-12-08 17:19] Bobisback commented on #347
This is what it outputs when it is not working in safari.  Aka this browser is receiving the call.

[code]
Here is the same safari browser when it is working, aka it is making the call.

[code]

What is really interesting is the fact that When Safari is calling the other browser this line of code never runs, and it still receives the ice candidate correctly. Maybe the problem is that the peer maki

[2018-12-08 23:08] abardik commented on #347
@Bobisback, You don't have to setup your own TURN for testing purposes (look at the comments above about numb.viagenie.ca).

Maybe it can be usefull for somebody, so I'll try to simplify some webrtc details here.

The webrtc idea is to connect two devices directly to each other the shortest and fastest way. If devices on the same host, the first candidate (127.0.0.1 typ host) is used. This candida

[2018-12-09 14:19] abardik commented on #347
I just tried all of my peerjs clients (windows chrome, windows electron, mac electron, windows nodejs, android chrome, android phonegap, ios safari, ios phonegap) with and without TURN/STUN. All of them work in any direction when in local Wi-Fi network with zero ICE configuration (iceServers: []). Then, I tried LTE on iOS, and it works fine without TURN and even without STUN. So, my carrier provid

[2018-12-09 16:38] Bobisback commented on #347
Thanks for all the great information. Going to dissect this later today or tomorrow. Based on my knowledge and and this information, my guess is that there is a NAT or some network configuration on this wifi that is breaking safari and iOS. I will do more testing as soon as I get a chance.

[2018-12-10 11:00] RamyaAshika commented on #471
Got a same error @kidandcat

[2018-12-10 11:41] RamyaAshika commented on #471
Whether it works now? @pReya

[2018-12-10 12:15] kidandcat commented on #471
In 2-3 hours it will be working

El lun., 10 dic. 2018 12:41, RamyaAshika <notifications@github.com>
escribió:

[2018-12-10 22:13] kidandcat commented on #471
Because I moved the server to Zeit Now. But because it is not prepared to be run on stateless Lambda functions, it is running in old now deployments, and Zeit is pushing its new stateless api and so limiting the old one. I'm moving this back to OVH until I completely rewrite PeerJS server.

This time I'll be using OVH VPS Cloud, which gives a 99,99% SLA by having your machine replicated in 3 diffe

[2018-12-10 22:58] kidandcat commented on #471
PeerServer is successfully deployed to OVH servers. PeerJS should work as always.

[2018-12-11 07:31] RamyaAshika commented on #471
ooh Okay but one thing I'm noticing that I'm not seeing any error which is related ICE failed when I'm in the different wireless network, Why whether it has happened due to deployment? @kidandcat

[2018-12-11 11:36] kidandcat commented on #471
That's very unlikely because ICE servers have nothing related with where the PeerJS Server signaling server is located. Maybe anything in your network changed. That's the true problem of WebRTC, network topologies are very complex and so there are a lot of things that can go wrong.

Today networks are very well prepared to establish connections to the outside, but they are missing reliability in e

[2018-12-11 11:36] #471 closed

[2018-12-13 01:47] RamyaAshika commented on #456
I'm too working on this issue only I have configured my coturn project and started a server as well as I have configured my configuration in my code like the way uh did @ivan but I don't see any logs when I'm sharing my mediastream.

[2018-12-13 06:43] RamyaAshika opened #472 "mediastream return black screen in safari"
Hello all,
        I have tried to connect with on peer to another peer. getusermedia works on one peer and I'm sharing the stream using MediaStream API.
//Making call
if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                    navigator.mediaDevices.getUserMedia({
                        audio: false
                        , video: true
                    }).then(fu

[2018-12-13 06:46] RamyaAshika commented on #405
Can you please how you made it atleast from browser to browser in safari @hardikifuturz I'm also facing the same issue. It returns as a black screen in safari when sharing media stream. @kidandcat

[2018-12-13 06:56] RamyaAshika commented on #347
Hi @abardik

I have tried to connect with one peer to another peer. getusermedia works on one peer and I'm sharing the stream using MediaStream API.
//Making call
if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
navigator.mediaDevices.getUserMedia({
audio: false
, video: true
}).then(function (mediaStream) {
conn = peer.call(destId, mediaStream);
myvideoplay.srcObject = mediaSt

[2018-12-13 07:12] Bobisback commented on #347
@RamyaAshika Ya ios 10+ has 100% confirmed to break navigator.mediaDevices.getUserMedia access. With no plans to support it in the future. You can google and find lots of information on the subject. it works in safari but not on iOS devices. Based on my research i have found some workarounds. The one I am trying now is through [AudioInput](https://github.com/edimuj/cordova-plugin-audioinput) and [

[2018-12-13 07:35] abardik commented on #347
@Bobisback, I don't remember exactly on what platform mediaDevices.getUserMedia doesn't work (maybe, as you said, it's cordova webview), but old style navigator.getUserMedia works very well. So, I use this:

[code]

Works on all platforms.

[2018-12-13 07:44] abardik commented on #347
@RamyaAshika, And for iOS phonegap/cordova app you have to add this in your config.xml to allow video to play automatically without user action:

[code]

[2018-12-13 10:02] RamyaAshika commented on #347
Okay fine I ll try and let you know @abardik and one more thing in my IOS mobile its showing error message like "**The current browser does not support webRTC"** like that its showing and the ios version is 10.3.3. Please whether it will work for all version ?? @abardik

[2018-12-13 16:18] Bobisback commented on #347
Based on my testing and research, on old versions of iOS this worked. On iOS 10+ both of these failed to work. Though I was not aware of the autoplay for iOS so that might have been the issue for me. I will test with it. When I tested it do matter what version of getUserMedia I used it was null on iOS cordova. So I do not believe it is related to the autoplay you speak off.

Thanks,
Bob

[2018-12-13 17:25] abardik commented on #347
@RamyaAshika, WebRTC in Safari is supported started from iOS 9, I beleive. If you use any other browser, like Chrome or Firefox, I don't know do they support WebRTC or not, but Safari does.

[2018-12-13 17:36] abardik commented on #347
@Bobisback, Yes, of course, WebRTC is absent in any cordova webview. I proceeded from the fact that you've already installed iosrtc plugin, as I mentioned earlier:

https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc

and initialized it:

[code]

Then, you can use all of the following:

[code]

And be sure you read this:

https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/do

[2018-12-13 17:46] RamyaAshika commented on #347
Many many thanks I 'll try and let you know @Bobis But I tried in one of my
iPhone it's thrown a alert like it's not supported by webRTC I donno why it
happened and as well as autoplay is not working.

On Thu, 13 Dec 2018 10:55 pm Andy Bard, <notifications@github.com> wrote:

[2018-12-14 12:32] RamyaAshika commented on #347
On IOS10 it's not working @abardik Its showing error message like WEBRTC is not supported by the browser like that its showing.

[2018-12-14 12:43] RamyaAshika commented on #347
@Bobisback IOS 12 it is working but on IOS 10 it's not at all working what to do. At least I need to make this from IOS 9 @abardik.Please help needed.

[2018-12-14 17:00] abardik commented on #347
@RamyaAshika, yes, sorry, it's included to Safari in iOS 11. Before that you can use webrtc in native apps only. For example, you can build cordova app and include iosrtc plugin to support WebRTC, but not in Safari.

[2018-12-14 17:44] RamyaAshika commented on #347
Oops !! Whether it's a different procedure or else the same steps I need to
do? Because I'm building ionic 3 angular 5 app. From my app only I'm
opening this link in external browser's. Can I able to move further by
using this?

Thanks
RAMYA D

On Fri, 14 Dec 2018 10:30 pm Andy Bard, <notifications@github.com> wrote:

[2018-12-14 17:54] abardik commented on #347
@RamyaAshika, As I know, Ionic doesn't provide its own webrtc support. You have to add iosrtc plugin to your app (see my comments above). Then you can use WebRTC API with some restrictions, which you can find in iosrtc plugin docs.

[2018-12-14 18:02] RamyaAshika commented on #347
Okay I 'll try and let you know. Thanks @Andy Bard

On Fri, 14 Dec 2018 11:24 pm Andy Bard, <notifications@github.com> wrote:

[2018-12-15 10:27] RamyaAshika opened #473 "How to play a stream without starting his own stream?"
I want to receive the stream only without starting his own stream. How to do that from peer.call?

[2018-12-16 05:10] Bobisback commented on #347
@abardik So based on the information posted here, if you want to use webRTC with cordova, it is not possible to use Peerjs?

If you use iosrtc then peerjs cannot work correctly right? So the options are to roll my own signalling using iosrtc or not supporting ios?

I am just confused about how iosrtc can work along side peerjs, guessing they cannot work correctly together? Or if I have both librar

[2018-12-16 09:40] abardik commented on #347
@Bobisback, peerjs works perfectly together with iosrtc. iosrtc plugin includes libwebrtc library to your cordova app and implements WebRTC API, which is absent in cordova webview. Peerjs uses WebRTC API. Without `iosrtc.registerGlobals` you have to write different code for browsers and for cordova app. With `registersGlobals` all WebRTC API provided by iosrtc plugin is registered globally (and it

[2018-12-16 09:42] abardik commented on #347
I don't know the details of ionic framework, but if I understand right, it runs inside cordova app. `registerGlobals` should be called in cordova's `deviceready` event handler (you can place this code anywhere in your JS; it will be executed after cordova is initialized and all plugins are loaded).

[2018-12-17 12:06] RamyaAshika commented on #472
Fixed it.

[2018-12-17 12:06] #472 closed

[2018-12-17 12:06] RamyaAshika commented on #470
Fixed it. Thanks @kidandcat

[2018-12-17 12:06] #470 closed

[2018-12-17 12:08] Bobisback commented on #347
@abardik Thanks for the comments, I am still trying to get iosrtc installed atm. Getting some errors related to swift and I cannot seem to figure out the issues with it. Once I get this sorted I will move back to trying to get peerjs to work.

If you have any ideas here is the thread: https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/issues/338

@RamyaAshika If you are trying to just send a

[2018-12-17 12:10] RamyaAshika commented on #460
Heii I had made this successfully on chrome, firefox and so on by making two media connections I can able to share the video as well as on top of that I can able to pass canvas but now it's not working in safari. When we making two media connections using getUserMedia(). In safari disables the first connection and show the black screen. I want to pass my canvas stream from peer.call() without getU

[2018-12-17 12:42] RamyaAshika commented on #347
ooh, k What I'm really trying to do is,

I had made this successfully on chrome, firefox and so on by making two media connections I can able to share the video as well as on top of that I can able to pass canvas as a media stream(my drawings on top of the video)but now it's not working in safari.

When we making two media connections using getUserMedia(). In safari disables the first connection a

[2018-12-17 13:01] kidandcat commented on #460
Safari is slowly supporting WebRTC and other APIs, but it still has incompatibilities. I'm fading similar issues at work related to Service Workers . . . there is nothing to do but wait for Apple.

[2018-12-17 13:05] RamyaAshika commented on #460
OMG !! I need to do urgently. But in this document I'm seeing without media stream we can able to do something like that https://peerjs.com/docs/#peercall

_When calling or answering a call, a MediaStream should be provided. The MediaStream represents the local video (webcam) or audio stream and can be obtained with some (browser-specific) version of navigator.getUserMedia . When answering a call,

[2018-12-17 13:36] RamyaAshika commented on #460
Ya sure.
https://ec239ffa.ngrok.io/ARTC/Support.html

https://ec239ffa.ngrok.io/ARTC/LinkToConnect.html?roomId=gby6tophcwf00000 @kidandcat

[2018-12-17 14:13] Bobisback commented on #347
@RamyaAshika I am not sure what your "canvas stream" is. When you answer the call you can pass in null or you need to pass in a mediastream object. I am still not 100% sure what you are trying to do. If you are just trying to get the video stream without audio, then I do not see why you cannot just pass in the options saying no audio. Seems like the getUserMedia should be fine for you to use?

@ab

[2018-12-17 14:50] abardik commented on #347
@RamyaAshika, ReferenceError: `stream` is not defined - it's just because you have no `stream` variable defined, not a media stream itself. Check your variables names (in your previous example it was called `mediaStream`, not `stream`). And about video-only streams. Of course, you can use them as @Bobisback mentioned above, calling `getUserMedia` with `{ video: true, audio: false }`.

[2018-12-17 15:06] abardik commented on #347
@Bobisback I never had any problem with iosrtc (or any other plugin) installation because I use Phonegap Build to build my projects, and every well-developed plugin is compatible with Phonegap Build. So, just to make things simple I refused to learn and use xcode, native SDKs, etc. But that's great if you figured it out on xcode. About your problem. Did you try a simple webrtc example without peer

[2018-12-17 16:56] Bobisback commented on #347
@abardik Thanks for the input, I will try to get a simple webrtc application going next. I am only trying to send audio, I do not care about video at all.

Do you happen to have a simple sample project for phonegap that uses just WebRTC, or maybe some guides?

I need to figure out quickly if webrtc is a good solution, if I cannot get this to work on iOS then I need to move on to greener pastures.

[2018-12-17 17:09] abardik commented on #347
@Bobisback https://github.com/muaz-khan/WebRTC-Experiment
You will find a lot of examples over there. WebRTC is a good solution, I assure you. It works fine on every OS and almost every browser.

[2018-12-17 21:54] anadon opened #474 "Multiple race conditions cause data transmission failure or connection truncation"
A partner and I were working with peerjs in order to add collaborative functionality to draw.io.  In the process, we found that a connection was cut short while establishing if one of our loops just operated without any slowdown, and a connection would fail if the slowdown was in the time frame of connecting.  I know this sounds vague, but those are the best I can come up with to describe these bi

[2018-12-19 06:50] RamyaAshika commented on #347
Actually this is a bug in safari "New getUserMedia() request kills existing stream track" https://webrtchacks.com/guide-to-safari-webrtc/ but I want to get the stream fron peer.call without getUserMedia. Is it possible? or else I want to pass the stream from one html to another html. Any idea,Please help needed @abardik

[2018-12-19 07:34] abardik commented on #347
@RamyaAshika I can confirm that bug. I workaround it with a global audio stream captured when the call is started and switching video streams from front and back camera (in the following getUserMedia calls with video only constraints) and adding/removing them to/from PeerConnection with addTrack/removeTrack. It works fine. But yes, if you try to getUserMedia a media source (for example, microphone

[2018-12-19 16:10] Bobisback commented on #347
@abardik Sorry I know I am bugging you a ton, but I really wanna get this working. I was looking through the samples for the webRTC. Right now my objective is to get a working connection between iOS and Android devices using peer to peer audio, at first I wanna get it working in browsers. That's all I need. I am very unfamiliar with WebRTC, it even took me a second to grasp PeerJs and compared to

[2018-12-19 23:48] abardik commented on #347
@Bobisback,

https://www.html5rocks.com/en/tutorials/webrtc/basics/

I think, you can start from this very short but powerfull tutorial with live examples inside. You will start from getUserMedia and AudioContext, then go to local peer-to-peer video chat (in one browser tab, but you will learn a lot about internals of webrtc), and finally you'll try their fully functional video chat with their own

[2018-12-20 18:55] abardik commented on #347
@Bobisback Signaling is a transfer of SDP (offer and answer) and candidates between peers. It should be done with a help of signaling server (which is peerjs server is) or manually by users (for example, via any IM). WebRTC can not transfer SDP and candidates by itself. WebRTC API is only this: https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API

Yes, you do not have to install anything if

[2018-12-23 22:40] sharik709 opened #475 "Black Remote Stream and firefox shows CORS issue."
Hi, Peerjs establish connection but when I call other peer. I get response with stream, ice and all. but when I try to show remote stream it is black nothing appear and firefox shows CORS issue.

EDITED::
Below method calls when user clicks on call candidate button
[code]

[code]

[code]

[2018-12-24 05:33] Bobisback commented on #347
So I created a new project to get this working. It would seem that iosrtc is not compatible with the newest changes to the webRTC library?

example, the old function was called RTCPeerConnection.addStream, new one is called RTCPeerConnection.addTrack.

With my current code base on ios I am getting errors related to this.

`TypeError: _this.pc.addTrack is not a function. (In '_this.pc.addTrack(trac

[2018-12-24 15:54] abardik commented on #347
@Bobisback That's right. Add your MediaTrack to MediaStream and use addStream for ios cordova app. You can do this on all your clients, because the old API is still supported.

[2018-12-24 16:03] abardik commented on #347
@Bobisback Even if the old API will be totally removed from all browsers, you still can use it in your cordova project, because you can choose what versions of plugins to use. The current versions of WKWebView (1.1.4) and iosrts (4.0.2) both support addStream. For the rest of clients I suggest to use addTrack or to write a shim.

[2018-12-27 05:21] Sreekanthp74 commented on #452
Any update on this guys?

[2018-12-27 11:45] RamyaAshika commented on #473
It worked.

[2018-12-27 11:45] #473 closed

[2018-12-27 11:46] RamyaAshika commented on #460
I fixed it. Thanks.

[2018-12-27 11:46] #460 closed

[2018-12-27 11:52] RamyaAshika opened #476 "Firefox can’t establish a connection to the server"
Hi,
   Can anyone please help on this, Sometimes its throwing error like this Firefox can’t establish a connection to the server at wss://0.peerjs.com/peerjs?key=peerjs&id=n&token=cqgzgox6wqp. but its works fine in Chrome. @kidandcat

[2018-12-27 21:52] Bobisback commented on #347
@abardik Thanks for the input. So I got WebRTC working now in a test project with ionic 4. So this time if I do browser to device it works fine. i get audio transfer on both with no issues. Connecting looks fine in the logs. it appears to work both ways. But if I connect iOS to iOS, all the logs look great. But I just get no audio playing. I have added the auto play stuff to the info.plist, and si

[2018-12-27 21:55] Bobisback commented on #347
Do I need to manually install adapter.js to my cordova project? if so how do you do that?

maybe that is what I am missing.

[2018-12-27 22:09] abardik commented on #347
@Bobisback I don't think you need adapter.js, but you can add it for better compatibility with other browsers. My project works the same with and without it. Just add it to your app with <script src="https://webrtc.github.io/adapter/adapter-latest.js"> or download and add it locally.

[2018-12-27 22:10] abardik commented on #347
@Bobisback When connecting device to ios, do you hear a sound on ios?

[2018-12-27 23:20] Bobisback commented on #347
@abardik No no sound at all on ios when connecting ios to ios. If browser to ios or ios to browser it is fine.

So I am guessing codex issue or something that has to do with hte stream. If I get the stream locally and play it back it sounds fine. It shows that I got the stream correctly in the log. Not sure, it has got me stumped :(

[2018-12-27 23:39] abardik commented on #347
@Bobisback Yes, connection is good. I asked about sound on iOS because I had a problem with AudioContext on iOS. But if you just use <video> or <audio> element then this is not the issue.

[2018-12-27 23:40] abardik commented on #347
@Bobisback `<video>` or `<audio>` element.

[2018-12-27 23:40] Bobisback commented on #347
@abardik  What do you mean AudioContext? Right now I am using AudioInput and using it in a Audio element in the html. Are you saying the <audio> element does not work?

[2018-12-27 23:50] abardik commented on #347
@Bobisback AudioContext is used to play raw (WAV) audio buffers. I thought you use it instead of `<video>` element to play your streams. AudioInput you mean cordova-plugin-audioinput? Why don't you use getUserMedia as we discussed above?

[2018-12-27 23:56] Bobisback commented on #347
@abardik I used the getUserMedia and it did a similar thing while using iosrtc, but the fact that it used the old webRTC api was not great. I figured it might be a audio issue since getUserMedia is not supported. Atm the audioinput seems cleaner, since WebRTC according to[ this post ](https://stackoverflow.com/questions/45055329/does-webkit-in-ios-11-beta-support-webrtc/49467964#49467964)is 100% s

[2018-12-28 00:01] Bobisback commented on #347
@abardik Do you have some sample code using audiocontext to play a mediastream?

[2018-12-28 00:04] abardik commented on #347
@Bobisback Yes, it's possible:
https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/createMediaStreamSource
But this is kind of weird and complicated, if you don't have to modify your audio stream. AudioContext deals with raw audio buffers, can modify them in any way and play them after modifying. But if you just need to get audio stream, send it and then play it, you don't need AudioCont

[2018-12-28 00:07] abardik commented on #347
@Bobisback And regarding old WebRTC API. It's not a problem if we're talking about cordova, because you are free to use any version of your plugins. In this case - WKWebView plugin and iosrtc plugin. You can shim your JS to use new API in browsers and old API in cordova, and it will never became a problem.

[2018-12-28 01:08] Bobisback commented on #347
Wow ok, it seems to be working now hahaa I just ran it. I got sound on both ios devices. man that was crazy.

[2018-12-28 02:13] Bobisback commented on #347
@abardik So when using Peerjs, does it use the old WebRTC api or the new one?

How can I tell? For you to get it to work on your cordova app did you have to use an old version of peerjs?

[2018-12-28 06:52] abardik commented on #347
@Bobisback Since my poject was started two years ago, I use the old (0.3.13) version of peerjs with a LOT of modifications, so it's not possible to migrate to new version, unfortunatelly. Version 0.3.13 uses old WebRTC API.

iosrtc implements its own MediaStream, that is not a real JS MediaStream, unfortunately. MediaStreamTrack should be an instance of function. In iosrtc implementation it's an i

[2018-12-28 06:56] RamyaAshika commented on #347
Hey Sorry for interrupting you guys. Actually, I have completed the work almost which I'm expecting but the thing now I'm facing in firefox browser often is **"Firefox can't establish a connection to the server web socket "** so its created peer ID as null @abardik @Bobisback

Any information about this?

[2018-12-28 07:21] abardik commented on #347
@RamyaAshika Good to hear this :) What peerjs server do you use? If you deployed your own copy, it should be https only, because WebSockets do not support http anymore. If you use peerjs.com then I don't know, because they didn't have https before, but now I see they have it. And of course, you should allow peerjs.com (as well as your own peerjs server which probably has a different domain/subdoma

[2018-12-28 07:50] RamyaAshika commented on #347
Ya, I'm using peerjs.com, the online server only not mine. So how can I fix it? @abardik

[2018-12-28 18:35] abardik commented on #347
@Bobisback It's not compatible with regular peerjs server, which has been totally rewritten for my project (database, authentication, access control, multi-user, multi-device, push, etc). It's not possible to connect to peerjs.com with my client peerjs. I've been thinking to PR some independent changes, but since the new version is released it doesn't make sense anymore. I'll share the whole libra

[2018-12-28 18:40] abardik commented on #347
@RamyaAshika Did you ever establish a connection with Firefox? If no, try to change your CSP, because Firefox is more restricted than Chrome. If yes, I can't say more without a full log when error was happened.

[2018-12-29 07:32] RamyaAshika commented on #347
Ya, I'm working on firefox only but this is happening often and this is out its showing **Firefox can’t establish a connection to the server at wss://0.peerjs.com/peerjs?key=peerjs&id=b&token=9ajhhfzjdjm**, and it is getting null so for that whether I have to add this meta tag? **<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';">**  @abar

[2018-12-29 10:47] RamyaAshika commented on #390
How you fixed it. I'm also facing the same problem @vincaslt

[2018-12-30 05:02] abardik commented on #347
@RamyaAshika If you established a connection at least once, I don't think you need CSP, despite of it's weird, because actually you have to set up CSP to access domains other than yours, except if all your clients are localhost (127.0.0.1). Otherwise, add it, because if you plan to deploy your app anywhere out of your computer, you definately need CSP.

[2018-12-31 15:39] Bobisback commented on #347
@abardik The error I am getting is posted about. It is the addtrack thing. In your reply you mention you were not sure how to fixed it. Hence me requesting the code. With the code even with how different it may be I might be able to figure out what is going on with it. I have searched the issues with it and one solution to this issue was to use audio input plugin. The other issue related to it had

[2018-12-31 19:11] abardik commented on #347
@Bobisback As I see, peerjs does not use addTrack at all, it uses addStream. So, from where your addTrack call is coming? I use addTrack only to renegotiate between audio/video/screen, but it's outside of peers, and if you don't need a renegotiation, you don't need addTrack as well. And anyway, for iOS I use addStream for renegotiation too. Check your code for addTrack, because it's not in peerjs.

[2019-01-02 09:51] RamyaAshika commented on #87
Any updates?

[2019-01-02 11:11] RamyaAshika opened #477 "Destroy event is not firing on other end of the peer"
I'm using peer.destroy() on one peer, so it should reflect on the other end but it's not reflecting. I'm using this to listen on another end of the peer.

peer.on('close', function() {
});

[2019-01-02 12:17] RamyaAshika commented on #347
Okay thanks I will look into it @abardik

[2019-01-02 17:54] Bobisback commented on #347
@abardik It must be a version mismatch. The peerjs I was using 100% called addtrack. The only call in my app I was making was peerjs.call. Following the code execution brought me to a for loop adding all the tracks for the stream. This is where it was crashing.

After downgrading to version 3.13 I am getting a browser not supported on iOS. So not sure that is going to work. I think I will just giv

[2019-01-03 17:07] abardik commented on #347
@Bobisback What error do you have exactly on 0.3.13?

[2019-01-03 19:48] kidandcat commented on #476
Could you provide more info please? (logs, code, etc)

[2019-01-03 19:49] kidandcat commented on #475
Could you post more info? for example those CORS errors, and code if possible.

[2019-01-03 19:52] kidandcat commented on #456
But do you have any problem sharing mediaStreams @RamyaAshika ?

[2019-01-03 19:53] kidandcat commented on #455
Closing for inactivity

[2019-01-03 19:53] #455 closed

[2019-01-03 19:54] #423 closed

[2019-01-03 19:55] kidandcat commented on #381
This is not possible right now. But it will be available in the next PeerServer version. (~ 1 month)

[2019-01-03 19:55] #381 closed

[2019-01-04 05:40] RamyaAshika commented on #476
This is how its showing in console Firefox can’t establish a connection to the server at wss://0.peerjs.com/peerjs?key=peerjs&id=lpu2qbahocr00000&token=95qspajr609 and I'm just using the online peerjs only @kidandcat

[2019-01-04 06:14] Bobisback commented on #347
@abardik The exact error is `'browser-incompatible', 'The current browser does not support WebRTC'` when I downgrade to 3.13.

So I did a diff between version 3.13 and 3.18, there was two major changes. In 3.18 they started using AddTrack instead of AddStream, and the second thing is they added WebRTC Adapter. I am guessing this not supported thing is related to the WebRTC Adapter. Just not sure h

[2019-01-04 06:45] abardik commented on #347
@Bobisback Did you call `cordova.plugins.iosrtc.registerGlobals()` in `deviceready` handler? This error occures only if `RTCPeerConnection` is undefined, that's possible on iOS cordova without `registerGlobals`.

[2019-01-04 14:42] Bobisback commented on #347
@abardik I am calling it the same way it is called in my test project without peerJS that works between ios to ios. So not sure this is the issue. I wonder if it is related to WebRTC-Adapter now being installed.

[2019-01-04 15:18] Bobisback commented on #347
@abardik So I am writing the code right now for iOS to work with iosrtc and WebRTC (no peerjs). I am a bit confused about how to get it to play nice with android though. Since I have to use a older version for iOS, will it still communication fine with Android? Or do I have to do some special thing to get iOS version of WebRTC to work correctly with the new version of the Android WebRTC?

[2019-01-04 23:09] sharik709 commented on #475
@kidandcat thank you for your reply. Issue is fixed somehow automatically. Is it possible that it doesn't work properly on slow speed. Because I see that sometime. It shows black screen and sometime it works correctly and I have added code above. Thank you.

[2019-01-05 01:47] abardik commented on #347
@Bobisback On Android it works exactly as on iOS Safari or desktop Chrome. You can use getUserMedia from mediaDevices/navigator, addTrack/removeTrack, addStream/removeStream - any WebRTC API.

[2019-01-07 04:37] Bobisback commented on #347
@abardik I guess that is my point, that android will work the same as iOS Safari or desktop Chrome but completely different then iosrtc since android, iOS Safari and desktop Chrome use the new version not the old version. I guess I am having trouble figuring out how to deal with the inconsistent api's for webRTC. Is there some way to force android and chrome to use the old version of WebRTC or am

[2019-01-07 19:11] Bobisback commented on #347
Following [this guide](https://stackoverflow.com/questions/52449392/ionic-4-getusermedia-notallowed-in-ionic-webview) I found out that I needed to install webrtc-adapter among some other things. This fixed most of my issues for android.

[2019-01-08 01:47] abardik commented on #347
@Bobisback Yes, you need an adapter (https://webrtc.github.io/adapter/adapter-latest.js) to avoid most webrtc compatibility issues between browsers. Sorry, I answered about adapter somewhere else, but thought it was here in this topic. Also, you need to add camera and microphone permissions to your android cordova project (don't need it in browser). You can use this plugin (https://github.com/abar

[2019-01-08 16:39] Bobisback commented on #347
I got it working now, for both iOS and Android. :D I am so happy hahaha. That was alot of work, wow.

[2019-01-08 17:36] abardik commented on #347
@Bobisback Congratulations!

[2019-01-08 20:05] Bobisback commented on #347
@abardik Do you have a way to deal with the app going to the background on iOS?

Just trying to research options and figure out what is possible and what is not possible. Currently in my code if the app goes to the background it logs in out. Guessing because I have logic that checks for socket.io connection and when it cannot find it it just exits. I probably need to get a bit more graceful on thi

[2019-01-08 20:53] abardik commented on #347
@Bobisback You can use https://github.com/katzer/cordova-plugin-background-mode to continue your app execution in background. But it will kill the battery in a few hours. Apple does not allow this mode if you are not Spotify or Maps. But if you plan to provide your app for your internal users only, that would be an option. But if you want to go to app stores, you should implement push notification

[2019-01-09 07:06] Bichitrapradhan commented on #445
i am facing some issue few days, anybody please help me
failed: Error during WebSocket handshake: Unexpected response code: 404 in this file **main-unminified.js**

[2019-01-09 15:14] sharik709 commented on #379
Same problem here. But only on cell network on phone. It works on WIFI and computer, desktop. @stevedekorte have you found the issue?

[2019-01-10 11:03] tdulcet commented on #467
You must have Typescript >= 3.0. Otherwise, run `npm install @types/webrtc@0.0.23` and add this:
[code]
to [line 5](https://github.com/peers/peerjs/commit/8b53ea2cbd2762bbe6ac33bbac5abe174b8d03c6#diff-b52768974e6bc0faccb7d4b75b162c99L5) of `node_modules\peerjs\index.d.ts`.

[2019-01-10 11:04] tdulcet commented on #468
[Here](https://web.cecs.pdx.edu/tdulcet/connectfour/) is a project that uses Ionic 3 and PeerJS to play the connect four game online with two remote players. The PWA is available for testing [here](https://web.cecs.pdx.edu/tdulcet/connectfour/).

[2019-01-12 18:44] jamalhassouni commented on #278
can someone explain more because I'm not understood when should I have edited my code to add this?

[2019-01-12 19:02] kidandcat commented on #295
Heroku has a timeout, you will need to implement your own "ping-pong":
https://stackoverflow.com/questions/22847581/heroku-websocket-connection-timeout

[2019-01-12 19:17] jamalhassouni commented on #295
@kidandcat
In fact, I do not understand, I found this [Connection pinging](https://github.com/peers/peerjs/issues/278)
but I did not understand where I should modify my code

[2019-01-19 05:49] RamyaAshika commented on #476
Any updates @kidandcat

[2019-01-19 08:57] RamyaAshika commented on #476
I have attached the screenshot

![ar13](https://user-images.githubusercontent.com/38552130/51424597-15040300-1bf6-11e9-8422-50be4b4767ac.PNG)

and seems like its a websocket related error.

**OPERATING SYSTEM:** WINDOWS
**BROWSER:** In Firefox only so far.

and this is the peerjs I'm using

<script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.18/peer.min.js">

@kidandcat

[2019-01-22 05:44] RamyaAshika commented on #477
Any updates? @kidandcat

[2019-01-22 14:50] kidandcat commented on #477
Sorry, I'm too busy and I'm focused on other issues in PeerServer right now.

[2019-01-23 23:36] maxpavlov opened #478 "Unable to connect to a peer in Safari on macOS"
Whenever I am trying to connect to a peer in Safari with specifying an option of { reliable: true } I get an error:
`TypeError: Object is not a constructor (evaluating 'new Reliable(this._dc, util.debug)')`
![image](https://user-images.githubusercontent.com/669701/51644302-630f6280-1f78-11e9-8b1a-009832512198.png)

Is there a way I can still use reliable data channel in Safari?

[2019-01-24 12:04] maxpavlov opened #479 "Support using repo like an npm dependency (e.g. have tasks compile to dist/peer.js)"
Until the move to Typescript, the peerjs repo could have been used just like any other NPM depenency. Simply add dependency as "peerjs": "git+https://github.com/peers/peerjs.git" and it would get compiled into /node_modules/peerjs/dist/peer.js.

Thus a node application that is using the dependency could have easily imported it into an application and use peer.

However, with move to TS, we have a

[2019-01-25 09:32] kidandcat commented on #479
@Caballerog

[2019-01-26 21:44] mballabaniapr commented on #470
@RamyaAshika How did you fix it?

[2019-01-26 22:13] mballabaniapr commented on #379
@stevedekorte Same problem for me

[2019-01-27 11:36] kidandcat commented on #476
The CloudServer already support https

[2019-01-27 15:46] kidandcat commented on #476
I'll add cors headers in two hours. I'll comment here after doing it.

[2019-01-27 17:14] kidandcat commented on #476
That's strange, CORS are already enabled

[2019-01-28 01:36] Smilebags commented on #476
After taking a look, it seems like the server configuration might not be compatible with either TLS 1.2, or 1.3.

[2019-01-28 05:01] RamyaAshika commented on #476
Now, what's the solution for this? @kidandcat  @Smilebags

[2019-01-28 05:03] RamyaAshika commented on #470
I did this but in that itself there are many problems are there. I used COTURN since that's the one is a free open source for STUN and TURN server. @mballabaniapr

[2019-01-28 07:44] kidandcat commented on #476
Which PeerJS version do you have? The latest one should be connecting to
https://0.peerjs.com, not to 0.peerjs.com:9000

El lun., 28 ene. 2019 6:01, RamyaAshika <notifications@github.com> escribió:

[2019-01-28 09:06] kidandcat commented on #479
Selenium was removed from postinstall. Grunt tasks should work fine. Could you try with latest version? 0.3.19

[2019-01-28 09:12] RamyaAshika commented on #476
Okay but its happening often. If it occurs again. I will share that console. Thanks @kidandcat

[2019-01-28 09:53] Smilebags commented on #476
Okay it seems like it should be attempting to connect over port 443 but isn't in the default case.

Isn't 0.3.16 the latest release? That's the last tagged commit that I can see.

[2019-01-28 10:08] kidandcat commented on #476
Sorry, I'm not updating GitHub tags. Latest version is 0.3.19.

El lun., 28 ene. 2019 10:53, Chris Cook <notifications@github.com> escribió:

[2019-01-28 12:39] Smilebags commented on #476
Okay. Maybe updating the website __or__ adding a tag for each release might be helpful.

[2019-01-28 14:08] kidandcat commented on #476
Thanks for the support @Smilebags . Site https://peerjs.com/ has been updated. Also the CDN links have been updated too.

[2019-01-29 02:20] Smilebags commented on #476
No problem, I'm glad I could help.

[2019-01-29 09:26] ramkalari opened #481 "Version 0.3.19 Publishing issue?"
Comparing the two versions on npm, it looks like the lib folder in the latest version has typescript files which is causing module not found errors. Is this a publishing issue?
https://registry.npmjs.org/peerjs/-/peerjs-0.3.19.tgz
https://registry.npmjs.org/peerjs/-/peerjs-0.3.18.tgz

[2019-01-29 13:15] kidandcat commented on #481
Yes, it should point now to dist folder, not lib. I've updated "main" entry in package.json. That should fix it.

[2019-01-29 13:25] #481 closed, assigned to nobody

[2019-01-29 13:34] #475 closed

[2019-01-29 13:34] kidandcat commented on #476
@RamyaAshika Could your issue be related to https://github.com/peers/peerjs/issues/475?

[2019-01-29 13:36] kidandcat commented on #474
@anadon do you have any news on this?

[2019-01-29 13:37] kidandcat commented on #465
https://www.html5rocks.com/en/tutorials/webrtc/infrastructure/

[2019-01-29 13:37] #465 closed

[2019-01-29 13:40] kidandcat commented on #378
There isn't any fallback built in PeerJS, as it is an abstraction layer for WebRTC only.

[2019-01-29 13:40] #378 closed

[2019-01-29 13:40] kidandcat commented on #452
No sorry. I haven't been able to test on a Windows machine.

[2019-01-29 16:00] anadon commented on #474
No, I've had to leave this for other projects.  Behavior should still be replicable based on the included instructions.

[2019-01-30 10:06] Kitanga commented on #378
@kidandcat does you replying mean that this library is live again?

[2019-01-30 14:52] kidandcat commented on #378
Yes, I became the new maintainer last October more or less. Library has been stabiliced since then. Most of the PRs have been merged and critical bugs have been fixed. I've launch servers again (PeerServer and website) and a few features have been pushed like default SSL.

I don't have much time, but I'm commited to keep this project alive and growing with everyone's help.

[2019-01-31 12:15] hokuco opened #482 "Key generation page down"
http://peerjs.com/docs/#api

Where's the new place to acquire an api key

[2019-01-31 19:13] kidandcat commented on #482
You don't need to use an API key.

[2019-02-01 12:33] hokuco commented on #482
ok

[2019-02-01 12:33] #482 closed

[2019-02-03 00:41] xavierfuentes commented on #479
@kidandcat
Apologies for reopening a closed issue, but I still can't use PeerJS as a module... To reproduce:
- create a new react app `yarn create react-app my-app`
- add peerjs dependency `yarn add peerjs`
- edit `src/App.js` and add:
[code]
- run the app `yarn start`

if you browse to [http://localhost:3000](http://localhost:3000) you will get:
`TypeError: peerjs__WEBPACK_IMPORTED_MODULE_9___def

[2019-02-07 06:32] Pacific112 commented on #479
As @xavierfuentes said -> Issue is still present. To reproduce:
* create new Angular app `ng new app`
* `npm install --save peerjs`
* edit app.component.ts file:
[code]
* npm start
Result will be: `ERROR TypeError: peerjs__WEBPACK_IMPORTED_MODULE_2__ is not a constructor`

[2019-02-07 06:35] Pacific112 opened #483 "Unable to import Peer in Angular application"
Issue #479 is still present. I am using version 0.3.20 of peerjs. To reproduce:

* create new Angular app `ng new app`
* `npm install --save peerjs`
* edit app.component.ts file:

[code]
* npm start
  Result will be: `ERROR TypeError: peerjs__WEBPACK_IMPORTED_MODULE_2__ is not a constructor`

[2019-02-08 22:41] tetriminoss commented on #483
Can confirm, tried peerjs on Ionic 4 (which i assume running Angular 6) with the same import method

[2019-02-11 23:37] webseta commented on #476
Hi! Not sure if this is related, but we're constantly getting this error, and only in firefox:

The connection to wss://data.webseta.hu:9000/peerjs?key=peerjs&id=bhub1pjtbzd00000&token=1ztw161km5j was interrupted while the page was loading.

As you can see we're hosting our own peer server. On chrome this issue is nonexistent. Is this related? Btw we were using the 0.3.16 version up until now, but

[2019-02-13 09:27] pReya commented on #483
Have the same problem using Webpack and CreateReactApp. Seems to be a new problem introduced in 0.3.20 or 0.3.19.

[2019-02-13 15:03] kidandcat commented on #483
I'm working on it, anyway any PR is welcome

[2019-02-13 15:36] pReya commented on #483
Thanks @kidandcat ! I'd love to help, but I have no experience with TypeScript. Version 0.3.18 works fine, so no worries.

[2019-02-14 22:38] mindfulmike commented on #483
Same here, using vue-cli

[2019-02-15 13:37] kidandcat commented on #479
Sorry for the delay, peerjs@0.3.22 should fix the issue

[2019-02-15 13:37] #479 closed

[2019-02-15 13:38] kidandcat commented on #483
Fixed in peerjs@0.3.22

[2019-02-15 13:38] #483 closed

[2019-02-19 12:58] pReya commented on #478
I can confirm this bug. Seems to be because of different APIs on Chrome/Firefox vs. Safari. Other WebRTC libraries seem to have had the same problems:
https://github.com/feross/simple-peer/issues/190

To fix this, a couple of methods need to be changed from Callback syntax to Promise syntax. Should not be too much work. I'll see if I can work on this problem.

[2019-02-19 16:30] tombertrand commented on #478
The error seems to come from the way Reliable is exported.

source -> `import { Reliable } from "reliable";`
babel -> `var Reliable = require('reliable');`

Changing the compiled code to the following works...
`this._reliable = new Reliable.Reliable(this._dc, util.debug);`

[2019-02-20 13:32] pReya opened #484 "Webpack dependency warnings in 0.3.22"
Hey,

after upgrading to 0.3.22 I get two webpack warnings, that I've never seen before. I'm using create-react-app to build my React app.

[code]

Unfortunately there are no line numbers in the output and I don't know enough about the webpack process to narrow this down. Also googling leads to many different causes for these warnings. Can anyone point me in the right direction, where these warnin

[2019-02-21 00:53] kidandcat commented on #484
are you parsing node_modules with webpack?

[2019-02-21 08:06] pReya commented on #484
Thanks for your answer @kidandcat. Unfortunately giving up CRA is not an option for me currently, too many dependencies, too little time.

However from your links I don't see that this is a problem with CRA, but rather with webpack. I'd still like to understand the source of this problem. Any idea, where in the code this is coming from?

[2019-02-21 08:22] kidandcat commented on #484
It is probably coming from how parcel is bundling the package and dependencies, it is probably doing something like require(package) where:
[code]

And webpack don't like that because he cannot find which dependency is trying to be loaded.

Anyway webpack shouldn't be analyzing node_modules. So yes, it comes from webpack, but it is probably caused by the create-react-app's webpack configuration.

[2019-02-21 08:23] pReya commented on #484
Thanks! Very helpful information. Will try to dig deeper.

[2019-02-21 08:31] kidandcat commented on #478
Wow, I haven't access to that repo. @tombertrand what do you recommend? the fix to the import or just remove `reliable: true`?

If it's better to have it, I'll clone the repo and do the update.

[2019-02-21 09:53] pReya commented on #478
Tried tweeting and mailing to @michelle if she can merge this PR. Just hope she'll respond.

[2019-02-21 15:03] tombertrand commented on #478
I've experimented with Safari, fixing JS errors caused by `Reliable` lib and `negotiator.ts`. There was no more errors but the message wouldn't reach the connections. I ended up doing reliable connections for the browsers that supports it, unreliable for unsupported browsers.

[code]

[2019-02-21 16:24] pReya commented on #478
I've reached @michelle and she merged the PR. Also a good workaround @tombertrand. But it's still sad to see reliable connections not working on Safari :(

[2019-02-21 18:11] akotynski opened #485 "Cannot connect to peer on Safari 12 (osx/ios)"
Peerjs uses a deprecated api based on callbacks - [example](https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/createAnswer#Deprecated_parameters).
Safari 12 only supports promise based APIs, so the library probably should be migrated to it.

[2019-02-21 18:16] Pacific112 commented on #485
True, I just came across the same problem. Very hard to fix without forking whole library.

[2019-02-22 06:27] tolgahanuzun opened #487 "I can't reach the documents and the site?"
I get an error. I wonder what's wrong. How can I reach?

<img width="1052" alt="screen shot 2019-02-22 at 09 20 05" src="https://user-images.githubusercontent.com/10615529/53223945-0f318f80-3684-11e9-95ab-d0fa85f7733c.png">

[2019-02-22 08:33] RamyaAshika commented on #487
Ya for me too @kidandcat

[2019-02-22 08:53] kidandcat commented on #487
Sorry, didn't remember I changed my credit card number, it's online now

[2019-02-22 08:53] #487 closed

[2019-02-22 08:54] tolgahanuzun commented on #487
No problem. Thank you. :)

[2019-02-22 08:55] kidandcat commented on #478
It should just work then, because the package.json uses the latest master version from the repo.

[2019-02-22 09:00] kidandcat commented on #485
Changes are in master branch, could you test in Safari?

[2019-02-22 11:09] mze01 commented on #362
This can be done with calls - peer.call to be more precise. According to [PeerJS documentation](https://peerjs.com/docs.html#api), a call can be started with:

`var call = peer.call('dest-peer-id',
  mediaStream);`

Where 'dest-peer-id' is the destination ID, and mediaStream is a stream of your mp4 file. Keep in mind that the destination peer will also have to answer the call. I am not sure as to

[2019-02-22 17:21] alfredoizjr commented on #485
Sorry, it is fixed? because I still have the same issue, I use the basic example you have here, and on my client receiver, open with safari 12 say can't connect with the server, I am using Ipad pro and  last update

[2019-02-22 17:25] alfredoizjr commented on #485
The version I got is peerjs@0.3.22

[2019-02-22 17:42] kidandcat commented on #485
It is fixed in master branch until we do some tests, then a new version
will be published

El vie., 22 feb. 2019 18:25, alfredoizjr <notifications@github.com>
escribió:

[2019-02-22 18:08] alfredoizjr commented on #485
Ok, thanks for your answer I will waiting for it.

[2019-02-22 18:18] akotynski commented on #485
generally it's working but I found one more usage of deprecated api

[2019-02-24 11:37] akotynski commented on #485
now everything works fine on safari

[2019-02-25 09:12] kidandcat commented on #485
v0.3.23 is out with these changes

[2019-02-25 09:12] #485 closed

[2019-02-25 13:48] alfredoizjr commented on #485
sorry I am using iPad pro with safari 12 I update to the new version "peerjs": "^0.3.23","peer": "^0.2.10", but I can't connect whet I use safari 12

[2019-02-25 14:07] kidandcat commented on #485
@alfredoizjr can you post console log? also, with "peer": "^0.2.10", you mean you have your own PeerServer, right?

[2019-02-25 15:54] alfredoizjr commented on #485
Yes, I am I try to implement the basic example video and audio with receiver and sender, the only error I got is Lost connection to the server that is only on safari is happening can be the stun server?

[2019-02-25 16:13] manhpham commented on #380
Hi, any one can switch camera during call?

[2019-02-25 19:38] kidandcat commented on #380
You need to establish a new connection, this is because of how WebRTC works.

[2019-02-25 20:36] Lovinity commented on #354
This issue needs fixed. I located the problem in the peer.js compiled source (unminified).

Line 576 defines options.key = "peerjs". This means whatever you provide in options as key, it always gets changed back to peerjs. This is a problem for servers using custom keys. This line should be removed, and instead in the "options = util_1.util.extend" object, a key: "peerjs" is added. This way, the d

[2019-02-26 20:02] gardner opened #489 "standard belongs in devDependendies"
Hi @kidandcat

Thanks for cleaning up the codebase and adding standard. I ran into an issue while using https://github.com/facebook/create-react-app with peerjs.

react-scripts complains about a version of eslint being installed that is incompatible with react-scripts.

**Steps to reproduce:**
[code]

Please note installing peerjs before the eslint dependencies is a valid workaround for this issue

[2019-02-26 21:35] kidandcat commented on #489
Commited and published: v0.3.24

Thanks for the info @gardner !

[2019-02-26 21:35] #489 closed

[2019-03-07 21:50] pshah123 opened #491 "Dropping calls immediately"
I'm using the latest stable JS from the website.

The issue occurs on certain public networks. In this case, the connection is going through the TURN server presumably (I'm 100% sure the TURN server is in use because I'm able to call w/ my Android smartphone which is on LTE), but the call is IMMEDIATELY disconnected. The stream is delivered and an answer is made on both ends, but the call drops al

[2019-03-07 22:30] pshah123 commented on #491
I'm not experiencing different behaviour. Now, the peers stay connected, and a MediaStream is delivered. However, the stream contains no real video or audio. It's just a black screen with no sound.

It works with nearly every other client.

[2019-03-11 08:12] kidandcat commented on #491
Could you post here whatever you find on chrome://webrtc-internals/ when that happens?

[2019-03-11 09:57] RamyaAshika commented on #379
Same problem for me. Any updates?

[2019-03-11 17:37] kidandcat commented on #484
I'm closing this as the issue is not in PeerJS

[2019-03-11 17:37] #484 closed

[2019-03-12 21:40] pshah123 commented on #491
Yup, happened again today. The call is long so the dump will probably begin from when the connection was fine, near the end the peer switched wireless networks and refreshed and the call dropped immediately.

[webrtc_internals_dump.txt](https://github.com/peers/peerjs/files/2958892/webrtc_internals_dump.txt)

[2019-03-12 21:46] pshah123 commented on #491
Here's another dump of the same thing, this time with some console errors as well:

![image](https://user-images.githubusercontent.com/6960204/54238376-aef97500-44ee-11e9-8dd9-542fae8812c2.png)

Reds in WebRTC Internals:

![image](https://user-images.githubusercontent.com/6960204/54238370-a9039400-44ee-11e9-9cbf-68b93c854c57.png)

Full dump attached

[webrtc_internals_dump (1).txt](https://github.

[2019-03-13 16:30] jersobh commented on #428
I'm getting this error also:

[code]

[2019-03-13 16:34] iakashpaul commented on #428
Is this for the latest build? If you are starting off something new simple-peer is a good alternative if you need something quickly.

[2019-03-13 16:57] jersobh commented on #428
@iakashpaul I'm using this one:
    <script src="https://raw.githack.com/peers/peerjs/master/dist/peerjs.min.js"></script>
I guess it's the latest build. The strange part is that it only happens on my vuejs code.

[2019-03-13 17:01] jersobh commented on #428
This is my call function:

[code]
self.peer is an open peer connection, and it never gets the "receiving stream" part

[2019-03-13 17:38] jersobh commented on #428
The only difference seems to be that I'm storing the stream from getUserMedia on a data variable on vuejs

[2019-03-13 17:41] iakashpaul commented on #428
Have you seen this article? https://www.eli5.io/blog/recording-audio-with-laravel-and-vuejs-using-webrtc-part-1 see if the stream is properly storing that stream.

[2019-03-13 18:47] jersobh commented on #428
Yep, it is. I've even set another <video> element with that stored stream. I've read the whole article, and it seems to be just like that.

[2019-03-18 00:35] AngeSohone commented on #179
Hi, i just implemented peerjs for multi-conference. i got some problems. when more than 3 users are connected, the next can't receive remote stream. Haven't error message on console log. just that they can't get streams. want to know if is due of limit of mesh architecture (Can’t scale to a large number of participants) or if i did something wrong. Thanks

[2019-03-20 07:52] maxpavlov commented on #478
Ok, so as 'reliable' part got fixed, I am still seeing this when I attempt to connect to peer from Safari 12:
![image](https://user-images.githubusercontent.com/669701/54667771-e15e3000-4af5-11e9-8191-22f90d6677f6.png)

Can anyone suggest what is wrong here? Thanks.

[2019-03-20 16:54] maxpavlov opened #493 "How come peerjs is a dependency of peerjs itself?"
In current packages.json we see the following entry in dependencies:
https://github.com/peers/peerjs/blob/36a3c7268ae5efff2990a6132e872c40cb9f6b14/package.json#L52
[code]

How come we have a previous version of peerjs as a dependencty of a current one? Thanks in advance for explaining.

[2019-03-21 05:48] maxpavlov opened #494 "new Peer only works if using window.Peer in angular application"
Hi.

I am importing peerjs npm package into my client-side application vie plugins capability in webpack:

`
...
let plugins = [
	new webpack.ProvidePlugin({
		$: "jquery",
		jQuery: "jquery",
		Peer: "peerjs"
...
`

Until recently, I was able to just call `var peer = new Peer(idService.generateId(), config.peerConfig);` and the Peer object would be instantiated for me. Now with a recent update, o

[2019-03-21 06:32] maxpavlov commented on #478
I was able to trace the problem down to this point. Once new t.RTCPeerConnection is called with an array of iceServers, it fails internally in the native code.
<img width="782" alt="Screen Shot 2019-03-21 at 8 30 46 AM" src="https://user-images.githubusercontent.com/669701/54736470-e08bd380-4bb3-11e9-999a-85f2dabdd3e3.png">

[2019-03-21 06:51] afrokick opened #495 "Multiple streams per MediaConnection"
Hi. I found a PR #132 related to my issue.

I want to send video+audio+screen.

What do you advice?

[2019-03-21 09:13] afrokick commented on #493
#496 it was removed. Thanks @maxpavlov

[2019-03-21 09:44] kidandcat commented on #494
I think you should just import Peer from "peerjs"

[2019-03-21 10:18] maxpavlov commented on #494
Import Peer from "peerjs" is "not pretty" and some prefer using webpack ability to import plugins as it makes the code more syntactically correct.

Regardless of the fact, if I "import Peer from "peerjs" I still get the "Peer is not a constructor" if I use it without .window. Perhaps someone who is using Peerjs in a similar setup can comment. Probably some angular thing.

[2019-03-21 10:18] maxpavlov commented on #493
Any time.

[2019-03-21 10:18] #493 closed

[2019-03-21 10:36] kidandcat commented on #494
Which version are you using?

[2019-03-22 06:19] maxpavlov commented on #494
@kidandcat  I am using the 0.3.24 and I've seen people confirm it works for them. Let's leave this ticket open, I will either create and reference a simple boilerplate app that showcases the problem or someone who experiences the similar might chip-in.

[2019-03-22 07:17] awesomemarcus commented on #418
Hello have one tried creating react native version for this?

[2019-03-22 08:03] kidandcat commented on #418
I don't thin react native has the same webrtc API than the browsers.

El vie., 22 mar. 2019 8:17, Marcus Jason <notifications@github.com>
escribió:

[2019-03-22 11:03] kidandcat commented on #494
Are you doing this?

[2019-03-22 21:04] afrokick commented on #495
Ok, I found a trick https://blog.mozilla.org/webrtc/warm-up-with-replacetrack/

I have one stream with 3 'empty' tracks - audio, video and screen.

Next, I call method 'call' and then have senders:
const [audioSender, videoSender, screenSender]= call.peerConnection.getSenders();

just replace track via audio.replaceTrack(null|audioTrack) to mute/unmute

[2019-03-22 21:04] #495 closed

[2019-03-24 20:17] maxpavlov commented on #494
@kidandcat you have a terrific intuition, man 👍

[code]

Importing with default property specified has fixed the problem of having to use window.Peer. Thank you.

[2019-03-24 20:17] #494 closed

[2019-03-24 20:49] maxpavlov commented on #478
The problem turned out to be exactly as the error implies. I was passing in the array of url instead of urls and the array of actual strings containing the urls for stun servers. My mistake after all.

[2019-03-24 20:49] #478 closed

[2019-03-26 17:56] afrokick commented on #456
It seems like coturn's timeout.

[2019-03-26 17:57] afrokick commented on #456
I tested config - it works fine.

Coturn has timeout for session, you should increase it in config file.

[2019-03-26 18:09] afrokick commented on #456
https://github.com/coturn/coturn/issues/332

[2019-03-27 14:23] #7 closed

[2019-03-27 14:25] afrokick commented on #18
We need to review examples. Maybe remove react and use pure js?

[2019-03-27 14:30] #53 closed

[2019-03-27 14:35] #129 closed

[2019-03-27 14:36] #82 closed

[2019-03-27 14:37] #97 closed

[2019-03-27 14:43] afrokick commented on #103
Thanks, I think it should be a part of PeerJS.

[2019-03-27 14:44] #118 closed

[2019-03-27 14:47] #137 closed

[2019-03-27 14:49] #145 closed

[2019-03-27 14:50] #146 closed

[2019-03-27 14:55] afrokick commented on #380
You can use replaceTrack of RTCRtpSender.

 this.call.peerConnection.getSenders()[0].replaceTrack()

[2019-03-27 14:55] #380 closed

[2019-03-27 14:55] #377 closed

[2019-03-27 17:04] #157 closed

[2019-03-27 17:09] #231 closed

[2019-03-27 21:02] afrokick commented on #147
https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/createOffer

[2019-03-27 21:02] #147 closed

[2019-03-27 21:05] #170 closed

[2019-03-27 21:06] #158 closed

[2019-03-27 21:11] afrokick commented on #323
You can create empty stream with any track, or with both:
[code]

[2019-03-27 21:11] #323 closed

[2019-03-27 21:13] #154 closed

[2019-03-27 21:15] #176 closed

[2019-03-27 21:38] afrokick commented on #177
https://github.com/peers/peerjs/commit/14ff7f80ad62adb031c55ab5a1b75e6e3ca0fd64

[2019-03-27 21:38] #177 closed

[2019-03-27 21:52] afrokick commented on #181
Fixed in https://github.com/peers/peerjs/commit/ed4012447ecfb476d0ae5d9be039339a973bec8d

[2019-03-27 21:52] #181 closed

[2019-03-27 21:53] #192 closed

[2019-03-28 08:20] #216 closed

[2019-03-28 08:20] #219 closed

[2019-03-28 08:21] #221 closed

[2019-03-28 08:22] #222 closed

[2019-03-28 08:26] #227 closed

[2019-03-28 08:28] #108 closed

[2019-03-28 08:46] #191 closed

[2019-03-28 08:47] #235 closed

[2019-03-28 10:08] #131 closed

[2019-03-28 10:08] #242 closed

[2019-03-28 10:09] #244 closed

[2019-03-28 10:10] afrokick commented on #248
xhr was removed

[2019-03-28 10:10] #248 closed

[2019-03-28 10:11] #249 closed

[2019-03-28 10:11] #251 closed

[2019-03-28 10:11] #250 closed

[2019-03-28 10:13] #247 closed

[2019-03-28 10:44] #252 closed

[2019-03-28 10:45] #253 closed

[2019-03-28 10:56] #254 closed

[2019-03-28 10:56] #255 closed

[2019-03-28 10:57] #256 closed

[2019-03-28 10:58] #266 closed

[2019-03-28 10:58] #267 closed

[2019-03-28 11:00] afrokick commented on #265
I'll try to reproduce it and write a test and fix it if it still exists

[2019-03-28 11:01] #270 closed

[2019-03-28 11:20] afrokick commented on #271
works via promise

[2019-03-28 11:20] #271 closed

[2019-03-28 11:21] #277 closed

[2019-03-28 11:22] #268 closed

[2019-03-28 11:27] #275 closed

[2019-03-28 11:29] #283 closed

[2019-03-28 11:32] #289 closed

[2019-03-28 11:43] #292 closed

[2019-03-28 11:45] #257 closed

[2019-03-28 11:45] #303 closed

[2019-03-28 11:46] #305 closed

[2019-03-28 11:46] #310 closed

[2019-03-28 11:47] #307 closed

[2019-03-28 11:47] #273 closed

[2019-03-28 11:48] #312 closed

[2019-03-28 12:13] afrokick commented on #315
Only one peer can exists per id

[2019-03-28 12:13] #315 closed

[2019-03-28 12:13] #311 closed

[2019-03-28 12:14] #298 closed

[2019-03-28 12:14] #314 closed

[2019-03-28 12:14] #302 closed

[2019-03-28 12:16] #237 closed

[2019-03-28 12:16] #326 closed

[2019-03-28 12:16] #321 closed

[2019-03-28 12:17] afrokick commented on #259
Just create MediaStream with empty tracks

[2019-03-28 12:17] #259 closed

[2019-03-28 12:18] #299 closed

[2019-03-28 12:18] #324 closed

[2019-03-28 12:19] #325 closed

[2019-03-28 12:21] afrokick commented on #331
Peer, MediaConnection, DataConnection extend EventEmitter, so, you can use 'off' method to unsubscribe from event

[2019-03-28 12:21] #331 closed

[2019-03-28 12:23] afrokick commented on #332
err has type of Error

[2019-03-28 12:23] #332 closed

[2019-03-28 12:24] #334 closed

[2019-03-28 12:25] #335 closed

[2019-03-28 12:26] #338 closed

[2019-03-28 12:26] #337 closed

[2019-03-28 12:28] #342 closed

[2019-03-28 14:19] Maykonn commented on #327
@afrokick why closing the issues without providing any assistance? The question is valid.

[2019-03-28 14:38] #287 closed

[2019-03-28 17:29] #356 closed

[2019-03-28 17:29] #348 closed

[2019-03-28 17:44] afrokick commented on #327
Sorry, we are cleaning old issues which don't have fresh updates.

1) In your example you create Peer - it is client side? because 'proxied' property exists only on server.
2) If you have proxy - it should be run on 443 port and forward all incoming requests to PeerServer instance.

[2019-03-28 17:48] Maykonn commented on #327
Oh, sorry @afrokick, my bad. I don't paid attention to the issue date.
Thanks for your help.

[2019-03-28 18:00] afrokick commented on #327
Don't worry)

This this my configs.

**Client:**
[code]

**Server:**
[code]

**nginx**(sorry, i think apache has similar config):
[code]

hope that it helps you:)

[2019-03-28 18:00] #327 closed

[2019-03-28 18:01] #361 closed

[2019-03-28 18:04] Maykonn commented on #327
Thanks! It will be helpful.

[2019-03-28 18:04] #365 closed

[2019-03-28 18:08] #320 closed

[2019-03-28 18:19] afrokick commented on #291
Please, leave a new comment if it actual now. I'll reopen the issue.

[2019-03-28 18:19] #291 closed

[2019-03-28 18:21] afrokick commented on #350
I think 'heartbeat' will fix it. It's in master already, but not released. You can try it.

[2019-03-28 18:21] #350 closed

[2019-03-28 18:21] #370 closed

[2019-03-28 18:23] afrokick commented on #366
https://testrtc.com/webrtc-internals-documentation/

[2019-03-28 18:23] #366 closed

[2019-03-28 18:28] afrokick commented on #360
@kidandcat and me on-line!

I'm developer of online school for kids. We use PeerJS and will contribute to it as much as possible, because its our code in video chat.

[2019-03-28 18:56] #360 closed

[2019-03-28 18:57] #367 closed

[2019-03-28 19:02] #318 closed

[2019-03-28 19:05] afrokick commented on #376
Let me know if it is still relevant to you

[2019-03-28 19:05] #376 closed

[2019-03-28 19:06] #359 closed

[2019-03-28 19:07] #349 closed

[2019-03-28 19:14] afrokick commented on #363
It's just server side logic to control how many users can connect to server using specific key

[2019-03-28 19:14] #363 closed

[2019-03-28 19:25] afrokick commented on #276
You can use sdpTransform option to execute any mutator of sdp before create offer. https://github.com/peers/peerjs/commit/14ff7f80ad62adb031c55ab5a1b75e6e3ca0fd64

[2019-03-28 19:25] #276 closed

[2019-03-28 19:32] afrokick commented on #240
i think it's already fixed. Let me know if it happens again.

[2019-03-28 19:59] afrokick commented on #330
let me know if it still exists

[2019-03-28 19:59] #330 closed

[2019-03-28 22:34] afrokick commented on #375
https://peerjs.com/docs.html#dataconnection-on-open on this event dataConnection.open should be 'true'

[2019-03-28 22:34] #375 closed

[2019-03-29 07:35] afrokick commented on #392
You should use .off method to unsubscribe from mediaConnection, dataConnection and peer

[2019-03-29 07:35] #392 closed

[2019-03-29 07:42] afrokick commented on #328
we can add 'decline' method, which send back decline message to callee via signaling.

[2019-03-29 08:20] kidandcat commented on #328
Well, for the disconnecting problem, we could set some kind of heartbeat using DataChannel (or with PeerServer between)

[2019-03-30 22:50] MichaelJCole commented on #318
Time marches on, thanks for a great project!

[2019-03-31 11:43] pReya commented on #374
Added this in https://github.com/peers/peerjs/pull/509

[2019-03-31 20:32] pReya opened #510 "Docs: API Key is not being used anymore – correct?"
I noticed there are still many locations in the API docs and markdown files, where API Key is referenced. Also, the link to obtain an API key (https://peerjs.com/peerserver) is dead. Since I've been using the library for a couple of months now, I assume the API Key is not being used anymore, is this correct? This is a permanent change, and not just a temporary thing, right?

If that's the case, I'

[2019-04-01 07:28] afrokick commented on #510
@pReya Yes, you don't need to obtain api key. Just use default 'peerjs'.

You can use api key for your own server to check an access to your application.

[2019-04-01 07:33] pReya commented on #510
Thanks, I'll put together a PR with the necessary changes.

[2019-04-01 07:33] #510 closed

[2019-04-01 07:37] afrokick commented on #318
The project is not dead)

We just started to upgrade a codebase to typescript, remove old stuff.

I hope we'll be able to revive it

[2019-04-01 07:43] afrokick opened #511 "Need to update documentation"
We directly updated a generated html file(our mistake), so, we have an inconsistent documentation: one in output html, another in api.json file.

We need to update api.json to re-generate documentation from it.

[2019-04-01 07:44] afrokick commented on #374
#511

[2019-04-01 07:44] #374 closed

[2019-04-01 15:29] TheadoreL commented on #418
@geraldsamosir  Have you ever try [oney/react-native-webrtc](https://github.com/oney/react-native-webrtc)

[2019-04-01 18:16] #511 closed

[2019-04-01 18:38] #295 closed

[2019-04-02 10:40] RamyaAshika commented on #456
Can you please tell me how you have configured in coturn's config file @afrokick

[2019-04-02 10:45] pcvengros commented on #456
make sure your coturn config file has disabled "stale-nonce" option

[2019-04-02 10:52] RamyaAshika commented on #456
how to do that? @pcvengros I have overwritten the config file like this stale-nonce=600 to stale-nonce=3600. Is it correct?

[2019-04-02 11:37] pcvengros commented on #456
just comment it out..

`# Uncomment if extra security is desired,
# with nonce value having limited lifetime (600 secs).
# By default, the nonce value is unique for a session,
# but it has unlimited lifetime. With this option,
# the nonce lifetime is limited to 600 seconds, after that
# the client will get 438 error and will have to re-authenticate itself.
#
#stale-nonce`

[2019-04-02 14:38] afrokick commented on #456
@RamyaAshika
[code]

[2019-04-03 11:40] rousan opened #512 "API Key is not being used on client side"
I started peerjs server with APP Key to `something` with `--key something`, but when I try to create new `Peer` instance on the client side with that APP key like below:

[code]
It still uses default APP key `peerjs` instead of provided key `something`.

Can you help me where I am doing wrong?

[2019-04-03 13:48] afrokick commented on #512
Could you please attach WebSocket's url from Network tab in DevTools?

[2019-04-03 13:51] afrokick commented on #491
@pshah123 Could use please try a version from master branch?

[2019-04-03 13:53] kidandcat commented on #512
We haven't yet published the new version to NPM. So if you are installing by npm install, you have an old version.

[2019-04-04 06:42] rousan commented on #512
I am using `peerjs` library from cdn like below:

[code]

but the `open` event is not being triggered by the `peer` instance.

[code]

I started server like following:

[code]

<img width="1440" alt="Screenshot 2019-04-04 at 12 09 07 PM" src="https://user-images.githubusercontent.com/12519292/55534715-ba495600-56d2-11e9-97f0-af6b5382e2f8.png">
<img width="1440" alt="Screenshot 2019-04-04 at 12 09

[2019-04-04 07:12] kidandcat commented on #512
That's an old version. 0.3.24 is the latest released one.

Anyway I recommend you to use master branch, something like:

package.json
[code]

We are going to release a mayor version with a lot of improvements (thanks to @afrokick :) ), so you should start using it now, so you will not need to change your code in a week or two.

[2019-04-04 07:33] rousan commented on #512
Thanks, it is working from `master` branch, but if I try to inject it through script tag, then I need to access it as:

[code]

[2019-04-04 08:09] rousan opened #515 "Cannot read property 'metadata' of undefined on latest master branch"
I tried to connect with other peer by `connect` method as follows:

[code]

It throws
[code]

But if I try to connect with `metadata`, it works, it means you have to supply metadata option in `connect` method as follows:

[code]

Library version: Latest master branch.

<img width="838" alt="Screenshot 2019-04-04 at 1 36 47 PM" src="https://user-images.githubusercontent.com/12519292/55539765-16b272

[2019-04-04 08:27] rousan opened #516 "Data is not being serialized with BinaryPack on latest master branch"
The `dataConnection.send(/*any data*/)` does not serialize data as expected.

The sample code:

[code]

On the receiver, it gets a stringified version of data instead of object `{ x: 111 })`.

<img width="509" alt="Screenshot 2019-04-04 at 1 54 04 PM" src="https://user-images.githubusercontent.com/12519292/55540706-2337ca80-56e1-11e9-8fed-f56071ae65e6.png">

Library Version: latest master branch

[2019-04-04 08:46] afrokick commented on #512
Thanks, I added Peer to global. Just update your version from master.

[2019-04-04 09:01] afrokick commented on #516
@rousan Could you please try a fix from #517 ?

[2019-04-04 09:13] #515 closed

[2019-04-04 09:13] afrokick commented on #515
@rousan please, check it again. should be fixed

[2019-04-04 09:15] afrokick commented on #516
@rousan i had merge a fix in master, please, check it

[2019-04-04 09:26] afrokick commented on #456
Ok, i suggest to close this issue. If anybody need a help - please, open another one.

[2019-04-04 09:26] #456 closed

[2019-04-04 09:48] rousan commented on #516
@afrokick, thanks, it is working.

[2019-04-04 10:26] #516 closed

[2019-04-04 10:26] #512 closed

[2019-04-04 10:54] #345 closed

[2019-04-04 11:14] afrokick commented on #6
Sorry, we will not support it in the near future

[2019-04-04 11:14] #6 closed

[2019-04-04 11:24] afrokick commented on #234
Workaround: using binary type to transfer large objects.

Please, open new issue if any problem will occur

[2019-04-04 11:24] #234 closed

[2019-04-04 11:27] afrokick commented on #224
We added heartbeat message from client to server. So, i think we can check it and close connection if it missed

[2019-04-04 11:30] RamyaAshika commented on #456
Hey, it's not working for me listening-port=3478
tls-listening-port=5349
listening-ip=xx.xx.xx.xx
relay-ip=xx.xx.xx.xx
external-ip=xx.xx.xxx.xxx
user=test:test@123
lt-cred-mech
userdb=/etc/turnuserdb.conf

@afrokick @pcvengros

[2019-04-04 11:50] RamyaAshika commented on #456
Where that file will be there @pcvengros in turn server??

[2019-04-04 12:22] afrokick commented on #456
@RamyaAshika why you use userdb?

[2019-04-04 12:24] #103 closed

[2019-04-04 12:24] #354 closed

[2019-04-04 12:25] #344 closed

[2019-04-04 12:25] RamyaAshika commented on #456
I don't have server-name and realm fields. Is it necessary? @afrokick

[2019-04-04 12:26] RamyaAshika commented on #456
and this is how I'm starting my server turnserver -v -r xx.xx.xxx.xxx:3478 -a -b turnuserdb.conf -c turnserver.conf -u test:test@123 @afrokick

[2019-04-04 12:31] afrokick commented on #456
@RamyaAshika just use config file `/etc/turnserver.conf` and run server via shell `$> turnserver`

try remove userdb field

[2019-04-04 12:34] afrokick commented on #456
I'm not expert with coturn and i think that a good place to get answer about settings is https://github.com/coturn/coturn issue's

[2019-04-04 12:35] #160 closed

[2019-04-04 12:38] afrokick commented on #208
WE added sdpTransform parameter to Peer's options, try use it.

[2019-04-04 13:19] Lovinity commented on #354
Could I have an explanation as to why this issue was closed please?

[2019-04-04 13:58] RamyaAshika commented on #456
But peer only disconnecting right after a 5-10mins whether it's happening only because of coturn or peerjs?? @afrokick

[2019-04-04 16:12] RamyaAshika commented on #350
Can you please do that as soon as possible because I'm using your peerjs version 3.20 @afrokick

[2019-04-04 16:18] RamyaAshika commented on #347
Hi @abardik I'm still facing this issue frequently connection drops immediately when I'm sending video streams

[2019-04-04 17:24] RamyaAshika opened #518 "ICE Connection state disconnected"
Hi,
I have shared my video streams. I display my webcam and my partner. Everything works fine until the 30 seconds. Then, the connection is lost. In chrome console gives me the following:

- IceConnectionState is disconnected, closing connection to (id number).
- Cleaning up peer connection to (id number).

Always occurs at 25-30 seconds. Can you think of what could be the fault? @afrokick @kidand

[2019-04-05 04:33] abardik commented on #347
Hi @RamyaAshika Do you establish initial audio+video connection or switch from audio-only to audio-video when your connection is droped?

[2019-04-05 07:01] RamyaAshika commented on #491
Can you please release the latest version? @afrokick

[2019-04-05 07:09] kidandcat commented on #491
We will be releasing it very soon, but we want to do things the right way. This will be a breaking release, so we need to go slowly and test everything.

Anyway, you can easily use github as a source with npm. You should target a commit to have stability, for example, to install using latest master branch:

`npm install peers/peerjs#09d556f`

[2019-04-05 07:12] RamyaAshika commented on #491
Ya that's good to hear but so far I'm using your cdn version   <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.18/peer.min.js"></script> until that can I use your peer.min.js from your master branch? Whether it will work? @kidandcat

[2019-04-05 07:44] afrokick commented on #354
Of course.

We fixed it in master branch,

[code]
Sorry that didn't provide the explanation before

[2019-04-05 07:48] afrokick commented on #456
I think the issue in coturn's config file - you should properly tune it. Because peerjs doesn't have such timeouts

[2019-04-05 07:53] afrokick commented on #350
@RamyaAshika you can try our 'beta' version from master - npm install peers/peerjs#master

[2019-04-05 07:54] afrokick commented on #518
Which version of peerjs?

[2019-04-05 07:58] afrokick commented on #491
@RamyaAshika Yeap, you can use raw link https://raw.githubusercontent.com/peers/peerjs/master/dist/peerjs.min.js

But please, keep in mind, that it isn't a release version, so, it maybe unstable

[2019-04-05 10:10] RamyaAshika commented on #477
No its not listening from the master branch .Just now I have tested it @afrokick

[2019-04-05 10:11] RamyaAshika commented on #350
Sure, Thank you. @afrokick

[2019-04-05 10:12] RamyaAshika commented on #518
<script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.18/peer.min.js"></script>  @afrokick

[2019-04-05 10:12] RamyaAshika commented on #491
Sure Thank you @afrokick

[2019-04-05 11:05] afrokick commented on #477
There is no way to listen 'close' if connection not be answered. So, you should add custom logic to drop such connections.

[2019-04-05 11:08] afrokick commented on #518
I think the issue in transport level, not in library.

Maybe you have problems with routers? could you please check examples like jitsi chat and check webrtc-internals?

[2019-04-05 11:09] #491 closed

[2019-04-05 11:42] RamyaAshika commented on #477
Actually, I want to close that existing connection manually. For that whether I need to use disconnect or close? @afrokick

[2019-04-05 14:00] frankrobert-ls commented on #18
@afrokick Could keep a folder of different types of examples like how [nextjs does it](https://github.com/zeit/next.js/tree/master/examples). That way you can have both React and vanilla examples, and other examples showing how to integrate PeerJS.

[2019-04-05 15:03] kidandcat commented on #18
@frankrobert-ls that's a lot of work, any contribution is welcome! 😉

[2019-04-07 05:52] Lovinity commented on #354
Okay thanks for updating us!

[2019-04-07 10:15] RamyaAshika commented on #518
Okay, but when can I expect the latest stable version of peerjs @kidandcat  @afrokick  or else what I need to do to have a stable connection atleast for 30-40mins?? I'm in urge.

Thanks

[2019-04-08 13:35] korneliuscode opened #519 "Data channel in Edge"
hi, is there a workaround to use this cross browser, even in Edge, which does not support the data channel, yet?

[2019-04-08 18:04] kidandcat commented on #519
The only workaround is to use a server and http api or websockets, but you must implement it by yourself.

[2019-04-09 11:30] RamyaAshika commented on #519
Hey Hi @kidandcat When can I expect the latest version of peerjs?

[2019-04-10 17:12] afrokick commented on #519
@RamyaAshika we just released it

[2019-04-10 17:20] afrokick commented on #518
@RamyaAshika could you please check the latest release?

[2019-04-10 18:03] afrokick commented on #371
Please, check it again in new release 1.0.0. Leave a comment if it still exists

[2019-04-10 18:03] #371 closed

[2019-04-11 04:58] RamyaAshika commented on #519
Through cdn?? Still https://peerjs.com/ 0.3.20 ?? @afrokick

[2019-04-11 07:15] kidandcat commented on #519
We don't officially support any CDN, but you have lots of options, for example unpkg.com:

unpkg.com/:package@:version/:file

unpkg.com/peerjs@1.0.0/dist/peerjs.min.js

[2019-04-11 13:34] RamyaAshika commented on #519
Okay, but I have tried this link unpkg.com/peerjs@1.0.0/dist/peerjs.min.js The video is not at all connected on two peers @kidandcat @afrokick

[2019-04-11 13:42] RamyaAshika opened #520 "readyState of undefined"
When I have tested with two peers? I got this error and Its no longer working for me? @afrokick @kidandcat

Uncaught TypeError: Cannot read property 'readyState' of undefined

[2019-04-12 08:46] afrokick commented on #520
Could you please provide an error stack?

[2019-04-12 08:51] afrokick commented on #520
I found a possible issue. Check it please #521

[2019-04-12 08:52] afrokick commented on #520
#521

[2019-04-12 08:53] afrokick commented on #519
Open a new issue please.

[2019-04-12 08:53] #519 closed

[2019-04-12 09:01] afrokick commented on #435
I think it is an application level logic. May be in future we provide some helpers for that.

[2019-04-12 09:02] #435 closed

[2019-04-12 09:25] RamyaAshika commented on #520
Hi, @afrokick, Ok But I still can't able to see https://peerjs.com/ the stable version from here and one more this how can I use that because I'm just using your script??

[2019-04-12 15:34] RamyaAshika opened #522 "Not working from chrome to safari browser."
It worked early but now with the master branch code it's not working

[2019-04-12 15:37] RamyaAshika commented on #520
Now the different issue is happening. Its Not working with safari to chrome browser. @afrokick

[2019-04-13 03:01] Lovinity commented on #208
@afrokick sdpTransform does not seem to work properly. For example, when I transform the sdp in peer.call to add a "b=AS:128" line to specify a 128kbps bitrate, the application executing peer.call sets that locally, but the peer.answer client does not have that line locally. In effect, bitrate never actually changes since only one of the two clients had their SDP transformed.

This seems to also h

[2019-04-13 09:24] pReya commented on #522
Could you be a little more specific? What exactly isn't working? Any errors in the console?

[2019-04-13 13:06] RamyaAshika commented on #522
Uncaught TypeError: Cannot read property 'addIceCandidate' of undefined @pReya @afrokick @kidandcat

[2019-04-13 22:03] Lovinity opened #523 "sdpTransform does not apply to makeAnswer SDP"
The new sdpTransform option in Peer.js transforms the SDP offer as expected. However, the transformations do not apply to the answer side. As a result, a change in bandwidth, for example, does not get negotiated.

For instance, if I sdpTransform to add a "b=AS:128" line to increase bandwidth to 128kbps, the line correctly gets added to the offer SDP. However, on the receiver, although it correctly

[2019-04-14 00:23] kidandcat commented on #523
PRs are always welcome :)

[2019-04-14 00:27] Lovinity commented on #523
The above is not something I would ideally PR because it's completely hard-coded and not meant for use in the actual peer.js library; it was only used so I can experiment to see if bitrate really wasn't getting negotiated.

[2019-04-15 09:57] afrokick commented on #208
Thanks @Lovinity Could you please check fix in https://github.com/peers/peerjs/pull/524 ?

[2019-04-15 10:00] afrokick commented on #520
Pease, open a new issue. This issue relates to readyState.

[2019-04-15 10:00] #520 closed

[2019-04-15 10:06] afrokick commented on #523
Fixed in #524 Could you please check it?

[2019-04-15 15:28] Lovinity commented on #523
Thank you, I will not be able to check this for several days as Peer.js is used in a business application, which I do not have office hours again until the end of the week. But I will let you know then.

[2019-04-16 17:14] lagcamgc commented on #240
Hello, i'm facing a similar issue

[2019-04-17 06:17] afrokick commented on #240
@lagcamgc are you using the latest version 1.0.0?

[2019-04-17 06:39] pcvengros commented on #240
same here.....

[2019-04-17 07:10] afrokick commented on #522
I think the issue relates to unified-plan, because only safari 12.1+ will support it.

@RamyaAshika could you please check it with plan-b?

[2019-04-17 10:31] lagcamgc commented on #240
mediaConnection open status for one of the sides is false and the other one true, also one of the sides is not entering on the peer.on('connection'...

[2019-04-17 11:27] afrokick commented on #240
There is no 'open' event for mediaConnection https://peerjs.com/docs.html#mediaconnection-on
initiator side: open = true after create a call
another side: open = true after answer the call

But we can add it

peer.on('connection') (and peer.on('call')) executes on callee's side only.

[2019-04-17 11:40] lagcamgc commented on #240
Sorry the actual piece of code is this one, i was thinking on another name when i wrote it on the previous post:

[code]

Also when you say

You mean only one side detects the connection?
Also i tried this:
[code]
And it also does not get there

[2019-04-17 14:27] afrokick commented on #240
Could you please check my example https://gist.github.com/afrokick/06f30a550008132c4aa5cf3fe987238d

Is it work for you?

[2019-04-18 16:25] lagcamgc commented on #240
Actually no, it's weird, i make work my code putting more listeners

[code]

Is entering in the on data of the second block but if i remove block one it does not work

[2019-04-19 08:46] afrokick commented on #240
Could you please provide a test repo with your code? I'll review it and give you a more precision answer.

[2019-04-20 08:42] danbeo95 opened #525 "How do check if my call video was answered !"
I have implement peer js to make a app with video call,everthing work fine ! But i can not found event when  my call video was answered.Anyone has solution ? Thanks so much !
<img width="328" alt="Ảnh chụp Màn hình 2019-04-20 lúc 15 39 46" src="https://user-images.githubusercontent.com/21057627/56454940-9b112080-6382-11e9-8251-9ed922c64b0f.png">
<img width="325" alt="Ảnh chụp Màn hình 201

[2019-04-22 05:08] afrokick commented on #525
You need to listen `stream` event of `MediaConnection`. https://peerjs.com/docs.html#mediaconnection-on-stream

[2019-04-22 06:24] afrokick commented on #523
@Lovinity did you try a fix?

[2019-04-22 11:04] RamyaAshika opened #526 "Connection is not at all working properly within two peer"
I have tested from the latest code. The connection is often not working properly. Sometimes the connection is not initiating on another peer @afrokick  @kidandcat

[2019-04-22 11:04] RamyaAshika commented on #522
No, I'm using latest IOS version only and it worked early within the same browser @afrokick

[2019-04-22 11:12] afrokick commented on #526
Could you please provide more description about the problem? At least logs...

[2019-04-22 11:13] afrokick commented on #522
Which environment do you use?

[2019-04-23 05:31] RamyaAshika commented on #522
iPhone 6 and Safari browser. @afrokick

[2019-04-23 05:32] RamyaAshika commented on #526
Sure I will try to get logs and I will send you @afrokick

[2019-04-23 10:30] Lovinity commented on #523
@afrokick unfortunately not. Due to the timely needs of my workplace, we had to switch to the SkywayJS library (they use a modified older version of PeerJS with better STUN and TURN servers).

However, just eye balling the code, my assumption is that it would not work. sdpTransform is passed through the call method on the sender. So has the code been modified so that this.connection gets sdpTransf

[2019-04-24 12:56] istiti commented on #525
@afrokick it seems not working to me too... I can listen 'stream' only on call-reciever.html  while in caller.html this 'stream' event never fired even If I respond from call-reciever.html with call.answer(strm)
donno if it's symmetric nat question

[2019-04-25 04:04] stuartlangridge opened #527 "ERR_SPDY_PROTOCOL_ERROR when trying to receive in Electron app"
In a simple Electron app, when I try to set up a peerjs connection to receive incoming data, it fails.

`var peer = new Peer("mysecretid", {key: 'lwjd5qra8257b9', debug:3});`
throws error
`.../electron-quick-start/peer.min.js:1 WebSocket connection to 'wss://0.peerjs.com/peerjs?key=peerjs&id=mysecret&token=(snip)' failed: Error in connection establishment: net::ERR_SPDY_PROTOCOL_ERROR`

I've verif

[2019-04-25 06:58] istiti commented on #525
FYI im on normal nat (not symmetric)

[2019-04-25 07:17] kidandcat commented on #527
Try this?: https://zenguard.zendesk.com/hc/en-us/articles/204423722-Chrome-error-ERR-SPDY-PROTOCOL-ERROR-

[2019-04-25 09:27] istiti commented on #525
After few investigation i find problem. maybe it is working as intended but we cant make a call without sending null as stream...
[This ](https://github.com/peers/peerjs/issues/158) could be related.

I wonder why this is working like that ? because `call-reciever.html` has `answer(withCorrectStream)`  and caller don't recieve event 'stream'

call-reciever.html recieve call but with (non realy exi

[2019-05-02 14:00] rumkin commented on #18
I've made an example on codesandbox.io([source](https://codesandbox.io/s/88wr3x52nj), [demo](https://88wr3x52nj.codesandbox.io/)) as HelloWrodl demo to figure out how Peer.js works. But I haven't seen any error. It just doesn't work. Am I doing something wrong? Is there working demo?

[2019-05-03 12:52] RamyaAshika commented on #526
peer.js:1589 PeerJS:  Socket open
peer.js:1589 PeerJS:  Creating RTCPeerConnection.
peer.js:1589 PeerJS:  Listening for ICE candidates.
peer.js:1589 PeerJS:  Listening for data channel
peer.js:1589 PeerJS:  Listening for remote stream
peer.js:1589 PeerJS:  Setting remote description RTCSessionDescription
peer.js:1589 PeerJS:  Added ICE candidate for: vpdb9dsffyr00000
peer.js:1589 PeerJS:  Set remo

[2019-05-03 12:52] RamyaAshika commented on #526
This is the logs I have found @afrokick @kidandcat

[2019-05-06 06:21] RamyaAshika commented on #526
PeerJS:  Creating RTCPeerConnection.
peer.js:689 PeerJS:  Listening for ICE candidates.
peer.js:689 PeerJS:  Listening for data channel
peer.js:689 PeerJS:  Listening for remote stream
peer.js:689 PeerJS:  add connection data:dc_eioexvrcb6j
       to peerId:m
peer.js:689 PeerJS:  Creating RTCPeerConnection.
peer.js:689 PeerJS:  Listening for ICE candidates.
peer.js:689 PeerJS:  Listening for data

[2019-05-06 19:42] lagcamgc commented on #240
Hello sorry fot the delay i have been working and actually it was a flow problem
Thanks for your help

Also i'm wondering something, just a quick question: if i need multiple instances of peerjs server do someone already handle that because if i'm going to manage thousands of users i think that just one peerjs server can not handle it, is there someone that designed an orchestrator or a gateway to

[2019-05-06 20:25] kidandcat commented on #240
You are ok with just one instance. PeerServer is in charge of establish the communication only, then everything is Peer to Peer (server does nothing after the initial communication setup)

[2019-05-07 00:18] rymrk opened #528 "dfg"

[2019-05-07 00:18] rymrk opened #529 "dfgsdf"

[2019-05-07 00:18] rymrk opened #530 "dfgsdfsdfg"

[2019-05-07 00:18] rymrk opened #531 "dfgsdfsdfgsdfgsdfgf"

[2019-05-07 00:18] #531 closed

[2019-05-07 07:38] #528 closed

[2019-05-07 07:38] #529 closed

[2019-05-07 07:38] #530 closed

[2019-05-07 07:39] kidandcat commented on #527
Have you solved it?

[2019-05-07 08:14] stuartlangridge commented on #527
I have not, I'm afraid.

[2019-05-07 11:09] kidandcat commented on #527
https://err-spdy-protocol-error.com/

This is not related at all with PeerJS, if you find some way we can help you, write us, if not, we can't do anything else.

[2019-05-13 13:46] chak774 commented on #386
Sorry, I am still don't understand how to use typescript to import Peer. Can provide some example? thanks

[2019-05-13 13:55] chak774 opened #533 "Failed to construct Peer Object"
I am trying to create a peer by below code:

import * as Peer from 'peerjs';
this.myPeerId = `aaa${Math.floor((Math.random() * 10) + 1)}`;
this.peer = new Peer(this.myPeerId, {key: 'lwjd5qra8257b9'});

However, I received this error:
peerjs__WEBPACK_IMPORTED_MODULE_2__ is not a constructor

Anyone can help? Thanks!

[2019-05-13 14:03] chak774 commented on #533
I am using Ionic 3 with TypeScript

[2019-05-13 18:49] frankrobert-ls opened #534 "Peer state is both disconnected and destroyed on network error"
I'm attempting to write some reconnect functionalities throughout my application and they cover most flows, however, among the most challenging seems to be network issues.

When I disconnect from my network it triggers a `closed` event as I believe would be expected, followed very quickly by an `error` event, and then lastly a `disconnected` event.

My reconnect function called then checks the sta

[2019-05-14 02:28] frankrobert commented on #533
@chak774 try a default import

[code]

[2019-05-24 18:19] nhducseuit commented on #533
Exactly what I'm facing now with Angular 7.

@frankrobert  `import Peer from 'peerjs';` doesn't work. The error says that the module has no default export.

[2019-05-24 18:21] nhducseuit commented on #483
@kidandcat  1.0.0 and Angular 7 has this issue again bro

[2019-05-24 19:01] kidandcat commented on #483
How are you importing it

[2019-05-25 04:54] nhducseuit commented on #483
Few:
`import * as Peer from 'peerjs'` -> this one was complied successfully, however error was thrown same like in first comment
`import { Peer } from 'peerjs'` and `import Peer from 'peerjs'` -> these two caused compile error

[2019-05-26 16:51] nhducseuit opened #535 "Unable to communicate between iOS/MacOS to Windows 10"
I've got following error:
[code]

My simple project uses the shared peerjs server to connect and send an increasing number every 3s. See https://passenger-location-share.firebaseapp.com/ and press `Track passengers` on a browser/tab and on another browser/tab, press `passenger on the way` to start sending messages.

Some tests I've done and results:
- Safari on iOS 12.2   and  Chrome 74 on Windows

[2019-05-28 01:39] nhducseuit commented on #483
@kidandcat I was able to resolve my issue by enabling following flag in tsconfig.json file
[code]

[2019-05-28 12:04] PyrozhenkoSerhii commented on #526
Almost the same issue on Heroku. Peerjs works well locally, yet on Heroku peers isn't get connected to each others
![123](https://user-images.githubusercontent.com/34453331/58476430-68b0cb00-8159-11e9-8470-96ae2a2e7d9f.png)

[2019-05-28 14:43] RealHandy opened #536 "Fails to pack/send modern javascript class instances due to js-binarypack issue"
Peerjs can't send modern javascript class instance objects if their constructors == _class ClassName_ rather than _Object_. See https://github.com/binaryjs/js-binarypack/pull/13.

Peerjs imports js-binarypack and includes it in the dist, so the fix for Peerjs is to include a patched version of js-binarypack.

[2019-06-11 08:10] dorthrithil opened #537 "Webpack warning: Critical dependency: the request of a dependency is an expression"
I'm using peer.js in my Angular 7 project in Typescript and I'm getting the following warning:

[code]

This is how I'm importing `Peer`:

`import * as Peer from 'peerjs';`

When I try to import `Peer` like described in the readme, I'm getting the same warning plus a compiler error:

[code]

[2019-06-11 08:22] dorthrithil commented on #537
The compiler error is gone if I enable `allowSyntheticDefaultImports` in my `tsconfig.json`. The warning is sill there, though.

[2019-06-12 07:50] kidandcat commented on #537
I'll investigate, but Angular is always throwing strange webpack errors (there are similar issues). If you find the way to solve this one, please write me here.

[2019-06-14 16:53] jernejpregelj commented on #526
I have same problem. Logs stop at "Received ICE candidates":
<img width="945" alt="Screenshot 2019-06-14 at 18 52 10" src="https://user-images.githubusercontent.com/7147341/59525043-9a55c000-8ed5-11e9-827e-9023d20e0965.png">

[2019-06-15 18:19] simonmeusel opened #538 "Firefox can’t establish a connection to the server"
I have a project using PeerJS. It works very good using the file protocol or a localhost server, but does not work with HTTPS.

Live demo: https://simonmeusel.de/e2e-p2p/
Source code: https://github.com/simonmeusel/e2e-p2p/

Error message:
[code]

![a](https://user-images.githubusercontent.com/16321843/59554903-b5deca80-8faa-11e9-938d-fc93ff2b82c8.png)

Peer js version: `"peerjs": "^1.0.0"` (over

[2019-06-17 13:28] webseta opened #539 "Terrible audio feedback (echo) on Android/Chrome"
So I've created a P2P chat/audio/video call app using Peer.JS and on desktop it works fine but whenever one of the peers is a mobile device, terrible audio feedback occurs. Note, I'm talking about a simple audio call so it's not an issue of the local video stream being muted or not. It's not just noisy either, it's completely unusable, feedbacks to such a point where it is physically hurting to li

[2019-06-17 14:01] webseta commented on #539
Managed to solve this by reducing the audio element's volume to 0.1 on mobile devices. Is this standard practice though? :)

[2019-06-17 16:20] kidandcat commented on #539
I never had such a problem, so can't answer you :(

[2019-06-20 05:16] shivarajnaidu commented on #386
+1

[2019-06-20 14:12] phongca22 commented on #483
@nhducseuit what is the context did you use?

1. import * as Peer from 'peerjs'
2. import { Peer } from 'peerjs'
3. import Peer from 'peerjs'

[2019-06-21 04:12] shivarajnaidu commented on #495
Any sample code snippet with peerjs will be helpful for newbie webrtc people :)

Thanks in advance !

[2019-06-21 09:36] kidandcat commented on #495
New news, I'll be releasing a new version of PeerJS next week, completely rewritten, using a much simpler concept, and it will not need a PeerServer. So wait few days.

The new concept is based on rooms, a Room is the only thing that exists, so if you want to call someone, just go into a random ID room that both peers share. If what you want is multiple connections, just enter into a room with mor

[2019-06-22 10:52] JenGL opened #540 "Can't send blob file"
I'm trying to send a file drag and dropped in a div, but i always get this error.
Error: Type "function Blob() { [native code] }" not yet supported.

[code]

I tryed to send directly File Object, Blob or ArrayBuffer. Got always the same error

[2019-06-22 11:28] itsarnavsingh opened #541 "using peerjs client with browserify"
I am trying to do something very simple

var Peer = require('peerjs-client')

and then using Browserify to output it to a bundle.js file which is obviously not working(), I guess it is also not supposed to as peerjs-client is not official, the npm page says to install peerjs-client but use a script tag to include it,

[2019-06-23 15:49] kidandcat commented on #540
Convert it to base64

[2019-06-23 16:37] JenGL commented on #540
I found a lot of posts on internet that use peerjs to send blob.
like here: https://blog.bitsrc.io/use-webrtc-and-peerjs-to-build-an-image-sharing-app-f8163b6a6266
or here: https://www.sitepoint.com/file-sharing-component-react/

may be it was working on older release ?

[2019-06-24 11:55] shivarajnaidu commented on #300
Mee to having same issue .. wss not connecting

[2019-06-24 15:41] kidandcat commented on #540
Which browsers are you using?

[2019-06-24 16:23] bilo1967 opened #542 "How do I reject an incoming data connection request?"
I've three peers A, B, C communicating each other (data only) and I want to reject further incoming connections.

A register itself on a server and eventually sends its ID to B and C (e.g. via email).
B and C also register themselves and independently call A. For each of them a data channel is set up and handled.

If a fourth peer D tries to connect to A an event is fired at A to handle a new data

[2019-06-24 16:36] kidandcat commented on #542
Yes, but as I'll soon release the new version, it is implemented there. Later when that version be stable enought, if there is people who for any reason cannot move to the new version, I'll make the fix on the old version.

Expect 1 week for the new version to be available. To be informed about the latest news: https://t.me/peerjs

Of course PRs are always welcome.

[2019-06-24 16:44] bilo1967 commented on #542
Excellent! I can surely wait the new version, since I'm still developing my project and this part would be just a refinement.

Will it be possible to reject also MediaStream calls?

[2019-06-24 16:56] kidandcat commented on #542
Of course, rejection will be in an abstraction layer, not related to the
kind of connection, so it works the same for call or data.

El lun., 24 jun. 2019 18:44, bilo1967 <notifications@github.com> escribió:

[2019-06-25 09:35] JenGL commented on #540
laste Chrome version: Version 75.0.3770.100 (official Build) (64 bit)

[2019-06-25 13:03] bilo1967 opened #543 "afterconnection"
First of all: my knowledge of the timing of events in javascript is poor, so please accept my apologies if what I'm asking seems obvious (and sorry if I'm bombarding you with questions).

When a peer A handles the connection of another peer B via `DataConnection.on('connection', function() {...})` is that connection ready inside the handler or does it become completely available after the event ha

[2019-06-25 13:20] dorthrithil opened #544 "Error: Lost connection to server"
After ~1hr of inactivity my `Peer` object loses the connection to the server:

[code]

I'm currently using the cloud server and this is roughly my code that produces the error:

[code]

Is this intended behaviour? I didn't find anything about idle times or ttl's or the like in the documentation.

**peerjs Version:** 1.0.0

[2019-06-25 15:05] kidandcat commented on #544
Strange, the connection to PeerServer is a websocket conn. Maybe try to send a Heartbeat message every  minute or so? Something in the middle of your connection is closing it. Maybe your computer, router, etc, there are too many posibilities. And with that info only I can't check why the websocket isn't trying to reconnect.

[2019-06-25 17:46] dorthrithil commented on #544
OK, I will check the other possibilities. Thanks!

[2019-06-25 20:37] kidandcat commented on #543
It is ready to be used in the handler. I don't find very usefull an "start conneting" event. In which case do you find it useful for?

[2019-06-25 20:37] kidandcat commented on #542
https://github.com/peers/peerjs/tree/v2.0.0

[2019-06-25 20:39] kidandcat commented on #541
The new version preview is available, you can try it. It is not published to NPM registry. But you can install directly from github by simply:

`yarn add peers/peerjs#v2.0.0`

or

`npm install peers/peerjs#v2.0.0`

[2019-06-25 20:43] kidandcat commented on #540
Sorry, I re-read your first message. The error "Error: Type "function Blob() { [native code] }" not yet supported." looks like is not related at all to WebRTC. Could you paste more code? if it is private, you can write me an email instead kidandcat@gmail.com

[2019-06-25 20:43] kidandcat commented on #544
You can test the new version: https://github.com/peers/peerjs/tree/v2.0.0

You should have any problem with the new version.

[2019-06-26 07:50] bilo1967 commented on #543
In the project I'm developing one problem is avoiding unwanted connections.

There are three roles: student, speaker, teacher (I've added a metadata flag indicating the role in the options array when registering the peer). The teacher connects to the server with his ID, which is known, and waits for the speaker and the student. Once they're all connected further connections must be avoided.
The re

[2019-06-26 08:41] kidandcat commented on #543
Yes, the new version is a mayor one (breaking, no backward compatibility). The old API is quite confusing, and the code has a lot of legacy tricks from its first days in 2013, it is very hard to maintain.

But as it is a breaking change, I'll continue supporting the old version, so I'll implement some way of rejection in v1. Anyway I recommend you to move to v2 if you don't need to support very ol

[2019-06-26 09:09] shivarajnaidu commented on #495
great news .. ! awaiting for new version . Where can i see the updates related to new release

[2019-06-26 09:16] kidandcat commented on #495
The branch is ready https://github.com/peers/peerjs/tree/v2.0.0
You can join to a Telegram group if you want to discuss or ask for anything related to PeerJS: [Telegram](tg://join?invite=ENhPuhTvhm8WlIxTjQf7Og)

[2019-06-26 13:26] bilo1967 commented on #543
I've given a look at the example you provided for v2 and it really looks impressive: a simple one-to-one chat in a few lines of code! Also, I've tweaked a little that code and I've seen that onRemoteStream is fired on each peer anytime someone joins the room, making it possible to handle all the media connection that your bandwidth may support: wow!!!

Just a few questions:

1. Will it be possible

[2019-06-26 13:44] kidandcat commented on #543
1. Will it be possible to distinguish who's connecting using a metadata feature like in v1?

Yes! I've just added that feature to the plan, it should be very easy to implement

2. Will I be able to access remote and local streams to do some (local) audio processing via AudioContext? In my project I've peer A who needs to hear pear B in the L-channel and C in the R-channel of his headset, and to ch

[2019-06-26 13:52] bilo1967 commented on #543
Great news! I think I'll definitely switch from v1 to v2. It will make everything much easier. Thank you very much!

[2019-06-26 14:06] shivarajnaidu commented on #543
Thanks for amazing library

[2019-06-27 09:04] JenGL commented on #540
this is the onDrop handler (drag and drop any file in a div)

`
onDrop(evt) {
        const el = evt.target;
        el.classList.remove("drop_here");
        this.peer.sendFiles(evt.dataTransfer.files);
        evt.preventDefault();
        evt.stopPropagation();
        return false;
      }
`
this is the sendFiles() implementation

`
sendFiles(fileList) {
    Array.from(fileList).forEach(file =

[2019-06-27 10:05] bilo1967 opened #545 "v2.0.0: possible glitch with JQuery?"
I've played a little with your example. See [here ](https://mypeerjs2test.netlify.com/) for full code.

I've basically added a Bootstrap4 login dialog, jQuery to select elements and handle events and a few lines of code. When a new remote mediastream `rs` is notified to the peer, a video element with an unique id (I'm using the stream id string prefixed by "`stream-`") is created, added to a div o